{{ header }}
    {% block main_wrapper %}
        <div class="main-wrapper container" data-slideout-ignore>
            {% block breadcrumb %}
                {% include 'd_visualize/template/partial/d_breadcrumb.twig' %}
            {% endblock %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {% include 'd_visualize/template/partial/d_notification.twig' %}
                    </div>
                </div>
            </div>
            {% block before_content %}{% endblock %}
            <div class="container">
                <div class="row">
                    {{ column_left }}
                    {% if column_left %}
                    {% if column_right %}
                    <main id="content" class="{{ class }} col-sm-6">
                        {% else %}
                        <main id="content" class="{{ class }} col-sm-9">
                            {% endif %}
                            {% else %}
                            {% if column_right %}
                            <main id="content" class="{{ class }} col-sm-9">
                                {% else %}
                                <main id="content" class="{{ class }} col-sm-12">
                                    {% endif %}
                                    {% endif %}
                                    {{ content_top }}
                                    {{ content_bottom }}
                                    {% block content %}{% endblock %}
                                </main>
                                {{ column_right }}
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $(document).on('click', '.agree', function(e){
                    console.log(e);
                    $('#modal_agree .modal-title').empty();
                    $('#modal_agree .modal-body').empty();
                    var info = e.currentTarget;
                    $.ajax({
                        url: $(info).attr('href'),
                        type: 'get',
                        dataType: 'html',
                        success: function(data) {
                            var title = $(info).text();
                            $('#modal_agree .modal-header .modal-title').append(title);
                            $('#modal_agree .modal-body').append(data);

                            $('#modal_agree').modal('show');
                        }
                    });
                    return false;
                })
            })
        </script>
    {% endblock %}
{{ footer }}

