<!-- > d_account_field -->
{% if customer_groups %}
<div class="form-group required" style="display: {% if customer_groups|length > 1 %}block{% else %}none{% endif %};">
  <label class="{% if form %}col-sm-2{% endif %} field-label label-right-md"><span>{{entry_customer_group}}</span></label>
  <div class="{% if form %}col-sm-10{% endif %}">
    {% for customer_group in customer_groups %}
    <div class="radio">
      <label>
    <input type="radio" name="customer_group_id" value="{{customer_group.customer_group_id}}" {% if customer_group.customer_group_id == customer_group_id %}checked="checked"{% endif %} />
        <span>{{customer_group.name}}</span></label>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% include 'd_visualize/template/partial/d_name_field.twig' with {form:form} %}
<div class="form-group required">
  <label class="{% if form %}col-sm-2{% endif %} field-label label-right-md" for="input-email"><span>{{entry_email}}</span></label>
  <div class="{% if form %}col-sm-10{% endif %}">
    <input type="text" name="email" value="{{email}}" id="input-email" class="field" />
    {% if error_email %}
    <div class="text-danger">{{error_email}}</div>
    {% endif %}
  </div>
</div>
<div class="form-group required">
  <label class="{% if form %}col-sm-2{% endif %} field-label label-right-md" for="input-telephone"><span>{{entry_telephone}}</span></label>
  <div class="{% if form %}col-sm-10{% endif %}">
    <input type="text" name="telephone" value="{{telephone}}" id="input-telephone" class="field" />
    {% if error_telephone %}
    <div class="text-danger">{{error_telephone}}</div>
    {% endif %}
  </div>
</div>
<!-- /> d_account_field -->
