<!-- > d_button_submit -->
<div class="buttons clearfix">
  <div class="pull-left fl-no-sm">
    {% if button_back %}
    <a href="{{back}}" class="btn btn-default btn-shrink btn-block-sm">{{button_back}}</a>
    {% endif %}
  </div>
  <div class="pull-right fl-no-sm">
    {% if text_agree %}
      {{text_agree}}
      <input type="checkbox" name="agree" value="1" {% if agree %}checked="checked"{% endif %} />
      &nbsp;
    {% endif %}
    {% if continue %}
      <a href="{{continue}}" class="btn btn-default btn-block-sm">{{button_continue}}</a>
    {% elseif button_continue %}
      <input type="submit" value="{{button_continue}}" class="btn btn-primary btn-shrink btn-block-sm" />
    {% endif %}
  </div>
</div>
<!-- /> d_button_submit -->
