<!-- > d_button_continue -->
<div class="buttons">
	<div class="pull-right fl-no-sm"><a href="{{continue}}" class="btn btn-primary btn-shrink btn-block-sm">{{button_continue}}</a></div>
</div>
<!-- /> d_button_continue -->
