<div class="slideshow-slider">
    <div class="swiper-viewport">
        <div id="slideshow{{ module }}" class="swiper-container">
            <div class="swiper-wrapper"> {% for banner in banners %}
                    <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img
                                    src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive"/></a>{% else %}
                            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}
                    </div>
                {% endfor %} </div>
        </div>
        <div class="swiper-pagination slideshow{{ module }}"></div>
        <div class="swiper-pager">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
    var swiper = $('#slideshow{{ module }}').swiper({
        effect: 'coverflow',
        mode: 'horizontal',
        slidesPerView: 1,
        pagination: '.slideshow{{ module }}',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplayDisableOnInteraction: true,
        loop: true,
        autopla0y: 3000,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        breakpoints: {
            768: {
                effect: 'fade',
            },
        }
    });
    --></script>