@import "../../config"
.btn
  &.btn
    &-md
      padding: $paddingVerticalButton-md $paddingHorizontalButton-md
    &-sm
      padding: $paddingVerticalButton-sm $paddingHorizontalButton-sm
    &-shrink
      padding-left: calc(#{$paddingHorizontalButton} - 2rem)
      padding-right: calc(#{$paddingHorizontalButton} - 2rem)
    &-fluid
      max-width: none
      width: 100%

+adaptive(btn-block)
  max-width: none
  width: 100%

