{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_error }}</p>
    {% include 'd_visualize/template/partial/d_button.twig' %}
{% endblock %}