aside
  .list-group
    &-item
      border: 2px solid #e4e9f3
      padding: rem(20px)
      font-weight: $fontMedium
      margin-bottom: -2px
      color: $p_black
      &:hover
        background: #dde4f2
        color: $p_black

.account-page
  .list-unstyled
    +mq('tablet')
      text-align: center
    a
      display: inline-block
      margin-bottom: 10px