#d_quickcheckout
  .table
    display: block
    overflow-x: auto
  #cart_view
    .qc-totals
      .row:last-child
        border: none
      .form-control-static
        text-align: left
        padding-left: 11%
      .control-label,
      .form-control-static
        font-weight: $fontMedium
        font-size: fz(19px)
  .qc-cart
    width: 100%
    border: 2px solid $colorMainDarken
    +border-radius
    border-collapse: separate
    font-size: fz(16px)
    margin-bottom: rem(30px)
    thead
      td
        font-weight: 100
    td
      padding: 18px 18px 28px
      vertical-align: middle
      border: none
    tr:last-of-type
      td
        padding-bottom: 18px
    .qc-image
      width: 16%
    .qc-name
      width: 19%
    .qc-quantity
      width: 29%
      .form-control
        height: 40px
      .btn
        background: $colorMainLighten
        width: 100%
        height: 40px
        +border-radius
        border: $borderMain
        margin: 0
        padding: 0
        line-height: 36px
        color: $p_black
        &:hover
          background: #dde4f2
        &.decrease
          +reset-brds-right
        &.increase
          +border-radius(0)
        &.delete
          +reset-brds-left
          margin: -2px
      .form-control
        width: 85px
        margin: 0 -2px
        +border-radius(0)
        font-size: fz(16px)
        color: $p_black
      .input-group-btn
        width: 40px
        height: 40px
    .qc-price
      width: 17%
    .qc-total
      width: 14%
    tbody
      .qc-name
        a
          color: $p_black
      .qc-price,
      .qc-total
        font-weight: $fontMedium
        font-size: fz(19px)
  .panel-heading
    padding: 0
    background: none
    border: none
  .panel-body
    padding: 0
  .panel
    border: none
  .btn-group,
  .input-group
    .btn
      background: $colorMainLighten
      height: 40px
      +border-radius
      border-color: $colorMainDarken
      margin: 0
      padding: 0
      line-height: 36px
      &:hover
        background: #dde4f2
  // btn group
  .login-btn-group
    width: 277px
    margin-bottom: 60px
    .btn
      font-size: fz(17px)
      font-weight: $fontMedium
      color: #000
      background: none
      &.active
        background: #dde4f2
        +box-shadow(none)
  // modal
  .modal-dialog
    max-width: 400px
    width: 100%
  .modal-header
    position: relative
    padding: 60px 80px 0
    margin-bottom: 10px
    border-bottom: none
    .close
      position: absolute
      top: 30px
      right: 30px
      opacity: 1
  .modal-body
    padding: 0 80px 60px
    #remeber_password
      display: block
      margin-top: 10px
  #login_view .modal
    overflow: hidden
    background: rgba(0, 0, 0, .5)
  .radio-input
    //display: block
    margin-bottom: 30px
    &:last-of-type
      margin-bottom: 0
  .panel
    +box-shadow(none)
  .radio-input
    label
      display: flex
      padding-left: 0
  .checkbox-container
    margin-left: 0