{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
    <div class="login-page">
        <h1 class="heading-h1">{{ heading_title }}</h1>
        {{ text_description }}
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h2 class="heading-h2">{{ text_new_affiliate }}</h2>
                    <p>{{ text_register_account }}</p>
                    <a class="btn btn-primary btn-shrink" href="{{ register }}">{{ button_continue }}</a></div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    <h2 class="heading-h2">{{ text_returning_affiliate }}</h2>
                    <span class="heading-subtitle">{{ text_i_am_returning_affiliate }}</span>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="field-label label-fluid" for="input-email">{{ entry_email }}</label>
                            <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}"
                                   id="input-email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="field-label label-fluid" for="input-password">{{ entry_password }}</label>
                            <input type="password" name="password" value="{{ password }}"
                                   placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                            <a href="{{ forgotten }}" class="password-forgot">{{ text_forgotten }}</a></div>
                        <input type="submit" value="{{ button_login }}" class="btn btn-primary btn-shrink"/>
                        {% if redirect %}
                            <input type="hidden" name="redirect" value="{{ redirect }}"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
