<div class="product-thumb">
    <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"
                                                         title="{{ product.name }}" class="img-responsive"/></a></div>
    <div>
        <div class="caption">
            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
            {% if product.price %}
                <p class="price"> {% if not product.special %}
                        {{ product.price }}
                    {% else %} <span class="price-new">{{ product.special }}</span> <span
                            class="price-old">{{ product.price }}</span> {% endif %}
                    {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}
                </p>
            {% endif %}
            {% include 'd_visualize/template/partial/d_rating.twig' %}
            <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i
                            class="fa fa-shopping-cart"></i> <span
                            class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}"
                        onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}"
                        onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
</div>