{% block header %}
    <header class="header">
        <div class="container">
            <div class="row align-middle">
                <div class="col-sm-12 col-md-3 clearfix align-middle">
                    <div class="col-xs-3 col-sm-3 mobile-menu-toggle hidden-md hidden-lg"><i class="fa fa-bars"></i>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-12 logo">
                        {% if logo %}
                            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"
                                                      class="img-responsive"/></a>
                        {% else %}
                            <a href="{{ home }}">{{ name }}</a>
                        {% endif %}
                    </div>
                    <div class="mobile-cart-toggle col-xs-3 col-sm-3 col-md-3 hidden-md hidden-lg text-right">
                        <a href="" type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}"
                           class="cart-icon dropdown-toggle"><img
                                    src="../../../image/d_visualize_skin/d_dreamvention/Icon_cart.svg" alt=""><span
                                    class="cart-total">{{ text_items }}</span>
                        </a>
                        <div class="cart-circle">
                            <div class="cart-total"></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-7">
                    <nav class="nav clearfix">
                        <ul class="main-menu pull-left">
                            <li class="menu-item"><a href="extensions">Extensions</a></li>
                            <li class="menu-item"><a href="blog">Blog</a></li>
                        </ul>
                        <ul class="links pull-right">
                            <li class="menu-item"><a href="{{ account }}">{{ text_account }}</a></li>
                            <li class="menu-item hidden-md">{{ currency }}</li>
                        </ul>
                    </nav>
                </div>
                <div class="hidden-xs hidden-sm col-md-2">
                    {{ cart }}
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript">
        /* Search */
        $('#search input[name=\'search\']').parent().find('button').on('click', function () {
            url = $('base').attr('href') + 'index.php?route=product/search';

            var value = $('header input[name=\'search\']').val();

            if (value) {
                url += '&search=' + encodeURIComponent(value);
            }

            location = url;
        });

        $('#search input[name=\'search\']').on('keydown', function (e) {
            if (e.keyCode == 13) {
                $('header input[name=\'search\']').parent().find('button').trigger('click');
            }
        });
    </script>
{% endblock %}