{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <h2 class="like-heading-h3">{{ text_location }}</h2>
    <div class="desk">
        <div class="row">
            {% if image %}
                <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}"
                                           class="img-thumbnail"/></div>
            {% endif %}
            <div class="col-sm-3"><span class="desk_title">{{ store }}</span>
                <address class="desk_value">
                    {{ address }}
                </address>
                {% if geocode %}
                    <a href="https://maps.google.com/maps?q={{ geocode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank"
                       class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                {% endif %}
            </div>
            <div class="col-sm-3"><span class="desk_title">{{ text_telephone }}</span>
                <span class="desk_value">{{ telephone }}</span>
                {% if fax %}
                    <span class="desk_title">{{ text_fax }}</span>
                    {{ fax }}
                {% endif %}
            </div>
            <div class="col-sm-3">
                {% if open %}
                    <span>{{ text_open }}</span><br/>
                    {{ open }}<br/>
                    <br/>
                {% endif %}
                {% if comment %}
                    <span>{{ text_comment }}</span><br/>
                    {{ comment }}
                {% endif %}
            </div>
        </div>
    </div>
    {% if locations %}
        <h2 class="like-heading-h3">{{ text_store }}</h2>
        <div class="panel-group" id="accordion">
            {% for location in locations %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}"
                                                   class="accordion-toggle" data-toggle="collapse"
                                                   data-parent="#accordion">{{ location.name }} <i
                                        class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
                        <div class="panel-body">
                            <div class="row">
                                {% if location.image %}
                                    <div class="col-sm-3"><img src="{{ location.limage }}" alt="{{ location.name }}"
                                                               title="{{ location.name }}" class="img-thumbnail"/></div>
                                {% endif %}
                                <div class="col-sm-3"><span>{{ location.name }}</span><br/>
                                    <address>
                                        {{ location.address }}
                                    </address>
                                    {% if location.geocode %}
                                        <a href="https://maps.google.com/maps?q={{ location.geocode }}&hl={{ location.geocode_hl }}&t=m&z=15"
                                           target="_blank" class="btn btn-info"><i
                                                    class="fa fa-map-marker"></i> {{ button_map }}</a>
                                    {% endif %}
                                </div>
                                <div class="col-sm-3"><span>{{ text_telephone }}</span><br>
                                    {{ location.telephone }}<br/>
                                    <br/>
                                    {% if location.fax %}
                                        <span>{{ text_fax }}</span><br>
                                        {{ location.fax }}
                                    {% endif %}
                                </div>
                                <div class="col-sm-3">
                                    {% if location.open %}
                                        <span>{{ text_open }}</span><br/>
                                        {{ location.open }}<br/>
                                        <br/>
                                    {% endif %}
                                    {% if location.comment %}
                                        <span>{{ text_comment }}</span><br/>
                                        {{ location.comment }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <h2 class="like-heading-h3">
                <legend>{{ text_contact }}</legend>
            </h2>
            <div class="form-group required">
                <label class="col-sm-2 field-label label-right-md" for="input-name"><span>{{ entry_name }}</span></label>
                <div class="col-sm-10">
                    <input type="text" name="name" value="{{ name }}" id="input-name" class="field"/>
                    {% if error_name %}
                        <div class="text-danger">{{ error_name }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 field-label label-right-md" for="input-email"><span>{{ entry_email }}</span></label>
                <div class="col-sm-10">
                    <input type="text" name="email" value="{{ email }}" id="input-email" class="field"/>
                    {% if error_email %}
                        <div class="text-danger">{{ error_email }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 field-label label-right-md"
                       for="input-enquiry"><span>{{ entry_enquiry }}</span></label>
                <div class="col-sm-10">
                    <textarea name="enquiry" rows="10" id="input-enquiry"
                              class="textarea field">{{ enquiry }}</textarea>
                    {% if error_enquiry %}
                        <div class="text-danger">{{ error_enquiry }}</div>
                    {% endif %}
                </div>
            </div>
            {{ captcha }}
        </fieldset>
        <div class="buttons">
            <div class="pull-right fl-no-sm">
                <input class="btn btn-primary btn-block-sm" type="submit" value="{{ button_submit }}"/>
            </div>
        </div>
    </form>
{% endblock %}