{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="heading-h1">{{ heading_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="list">
                {% for category in categories %}
                    <li class="list-item"><a href="{{ category.href }}" class="link">{{ category.name }}</a>
                        {% if category.children %}
                            <ul class="list">
                                {% for children in category.children %}
                                    <li class="list-item"><a href="{{ children.href }}" class="link">{{ children.name }}</a>
                                        {% if children.children %}
                                            <ul class="list">
                                                {% for child in children.children %}
                                                    <li class="list-item"><a href="{{ child.href }}" class="link">{{ child.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list">
                <li class="list-item"><a href="{{ special }}" class="link">{{ text_special }}</a></li>
                <li class="list-item"><a href="{{ account }}" class="link">{{ text_account }}</a>
                    <ul class="list">
                        <li class="list-item"><a href="{{ edit }}" class="link">{{ text_edit }}</a></li>
                        <li class="list-item"><a href="{{ password }}" class="link">{{ text_password }}</a></li>
                        <li class="list-item"><a href="{{ address }}" class="link">{{ text_address }}</a></li>
                        <li class="list-item"><a href="{{ history }}" class="link">{{ text_history }}</a></li>
                        <li class="list-item"><a href="{{ download }}" class="link">{{ text_download }}</a></li>
                    </ul>
                </li>
                <li class="list-item"><a href="{{ cart }}" class="link">{{ text_cart }}</a></li>
                <li class="list-item"><a href="{{ checkout }}" class="link">{{ text_checkout }}</a></li>
                <li class="list-item"><a href="{{ search }}" class="link">{{ text_search }}</a></li>
                <li class="list-item">{{text_information}}
                    <ul class="list">
                        {% for information in informations %}
                            <li class="list-item"><a href="{{ information.href }}" class="link">{{ information.title }}</a></li>
                        {% endfor %}
                        <li class="list-item"><a href="{{ contact }}">{{ text_contact }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
