/*
 * Slideout
 */
$slideoutMenuWidth: 268px

.slideout-menu
  width: $slideoutMenuWidth
  font-size: $fontSizeBase + 3
  .mobile-menu-header
    margin-bottom: 20px
    padding-bottom: 0

.mobile-menu
  $menuPadding: 30px
  &-header
    font-weight: $fontMedium
    padding: $menuPadding
    margin-bottom: 15px
  &-links
    padding: 0 $menuPadding $menuPadding

.slideout-panel
  +box-shadow('0 0 40px 0 rgba(2, 2, 2, .2), inset 0 0 40px 0 rgba(0, 0, 0, .03)')
  background: $p_white