{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}

    <h1 class="heading-h1">{{ heading_title }}</h1>


    {% if categories %}
        <div class="h4">{{ text_refine }}</div>
        <div class="row refine-search">
            {% for category in categories %}
                <div class="col-sm-3"><a href="{{ category.href }}">{{ category.name }}</a></div>
            {% endfor %}
        </div>
    {% endif %} {#-- categories --#}
    {% include 'd_visualize/template/partial/d_product_list.twig' with {'col': '3'} %}
    {% if not categories %}
        {% if not products %}
            <p>{{ text_empty }}</p>
            <div class="buttons">
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary" data-loading-text="{{ text_loading }}">{{ button_continue }}</a></div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}