{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}
        <div class="h2">{{heading_title}}</div>
        {% if products %}
          {% include 'd_visualize/template/partial/default.twig' %}
          <div class="row">
            {% for product in products %}
              <div class="product-layout product-list col-xs-12">
                {% include 'd_visualize/template/partial/d_product_thumb.twig' with product %}
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">{{pagination}}</div>
            <div class="col-sm-6 text-right">{{results}}</div>
          </div>
        {% else %}
            <p>{{text_empty}}</p>
            <div class="buttons">
              <div class="pull-right"><a href="{{continue}}" class="btn btn-default">{{button_continue}}</a></div>
            </div>
        {% endif %}

{% endblock %}
