{% if reviews %}
    {% for review in reviews %}
      <div class="comment">
        <div class="avatar"></div>
        <div class="comment-data">
          <div class="comment-header">
            <span class="author-name">{{ review.author }}</span>
            <span class="comment-date">{{ review.date_added }}</span>
            <div class="rating">
                {% for i in 1..5 %}
                    {% if review.rating < i %} <span class="fa fa-stack"><i class="fa empty fa-star"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star"></i><i class="fa empty fa-star"></i></span> {% endif %}
                {% endfor %}
            </div>
          </div>
          <p class="comment-text">{{ review.text }}</p>
        </div>
      </div>
    {% endfor %}
  <div class="text-right">{{ pagination }}</div>
{% else %}
  <p>{{ text_no_reviews }}</p>
{% endif %}
