.card
  $imageHeight: 370px
  $imageWidth: 448px

  position: relative
  overflow: hidden
  border: 1px solid #e4e4e4
  box-shadow: 1px -1px 8px rgba(119, 119, 119, 0.2)
  +border-radius
  transition: all .4s ease
  margin-bottom: $marginVerticalBase
  &:hover
    .product-image
      +prefixes('transform', 'scale(1.1)')
  .image-wrap
    position: relative
    height: $imageHeight
    overflow: hidden
  .product-image
    +transition
    +center($imageHeight, $imageWidth)
  .product-cover
    position: absolute
    width: 100%
    text-align: center
    +transition
    .product-name
      font-family: $fontSecondaryBold
      font-size: 34px
  .product-subtitle
    font-size: 16px
    text-align: center
    font-weight: $fontBold
  .btn
    display: block
    max-width: 150px
    margin: 0 auto
  .product-capabilities
    margin-bottom: 20px
    line-height: 1.8
    list-style: disc
    padding-left: 17px
  // card expanded
  &-expanded
    &:hover
      .product-cover
        +prefixes('transform', 'scale(1.1)')
        padding: 45px
    .image-wrap
      float: left
      width: 60%
    .product-cover
      position: absolute
      +flex
      flex-direction: column
      justify-content: center
      align-items: flex-end
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 25px
      color: $p_white
      text-align: right
    .product-description
      max-width: 200px
    .product-info
      float: right
      width: 40%
      padding: 25px
  // card default
  &-default
    &:hover
      .product-extra-info
        opacity: 1
        background: #e6c8fa
    .product-extra-info
      position: absolute
      width: 100%
      height: 100%
      top: 67px
      left: 0
      padding: 0 25px 25px
      opacity: 0
      +transition