.logo
    +mq('tablet-wide')
        text-align: center
    a
        font-size: fz(30)
        line-height: 1
        display: inline-block
        font-family: $fontSecondaryBold
        color: $p_black
        +mq('tablet-wide')
            font-size: $fontSizeH1
        +mq('phablet')
            font-size: fz(24px)