.alert
  position: relative
  font-size: $fontSizeBase
  padding: 19px 40px 19px 19px
  border: $borderMain
  margin-bottom: rem(20px)
  .close
    position: absolute
    top: 50%
    right: 19px
    margin-top: -10px
    opacity: .3
    +transition
    &:hover
      opacity: .5
  &-info
    background: $colorNotifBg-info
    border-color: $colorNotifBorder-info
    color: $colorNotifFont-info
    .close
      color: $colorNotifFont-info
  &-success
    background: $colorNotifBg-success
    border-color: $colorNotifBorder-success
    color: $colorNotifFont-success
    .close
      color: $colorNotifFont-success
  &-danger
    background: $colorNotifBg-danger
    border-color: $colorNotifBorder-danger
    color: $colorNotifFont-danger
    .close
      color: $colorNotifFont-danger