#main .pagination
  %changed
    background: #dde4f2
    border-color: $colorMainDarken
    color: $p_black

  margin: 0 0 20px
  li
    &.active
      a, span
        @extend %changed
        &:hover
          @extend %changed
    a, span
      display: inline-block
      width: 50px
      height: 50px
      text-align: center
      line-height: 38px
      border: $borderMain
      font-weight: $fontNormal
      color: $p_black
      margin-left: -2px
      +transition
      &:hover
        @extend %changed