.rating
  line-height: 1
  margin-bottom: 15px
  cursor: pointer
  .fa-stack
    width: 23px
    height: 23px
    line-height: 1
    font-size: 24px
    color: $p_fruit-salad

  .rating-symbol
    font-size: 22px
    padding-right: 3px
  .fa.empty
    color: $colorMain

.rating-symbol
  .fa-stack-2x
    position: relative
  .rating-symbol-foreground
    color: $p_fruit-salad
  .rating-symbol-background
    color: #e6ecf7