$search_height: 40px
.search
  input[name="search"]
    font-size: 12px
    height: $search_height
  button
    height: $search_height
    font-size: 15px
      line-height: 18px
      padding: 10px 35px
      text-shadow: 0 1px 0 $p_white