.table
  $paddingHorizontal: 29px
  $paddingVertical: 14px

  thead
    tr
      background: $colorMainLighten
      td
        font-weight: $fontBold
        padding: $paddingVertical $paddingHorizontal
  tbody
    tr
      border-bottom: $borderMain
      &:last-of-type
        border-bottom: none
      td
        border: none
        padding: $paddingVertical $paddingHorizontal
  &-hover
    tbody
      tr
        +transition
        &:hover
          background: $colorMainLighten