/**
 * d_dreamvention_skin
 */
/**
 * d_theme
 */
/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Functions list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Functions list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Functions list:
 *
 * @function rem()
 * @function z()
 */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul div {
  line-height: 1.5;
}

.list {
  font-size: 14px;
  padding-left: 15px;
  list-style: disc;
}

.list .list {
  list-style: circle;
  padding-left: 1.33333333rem;
}

.list-item {
  line-height: 26px;
}

.thumbnail {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.btn {
  border-radius: unset;
  border: none;
}

.btn:hover {
  border-color: rgba(255, 255, 255, 0);
}

button {
  outline: none;
}

a:hover {
  text-decoration: none;
}

label {
  font-weight: inherit;
  margin-bottom: 0;
}

select {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.well {
  padding: 45px;
  border: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

legend {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 1.33333333rem;
  border-bottom: none;
}

@media only screen and (max-width: 767px) {
  legend {
    text-align: center;
  }
}

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.container {
  max-width: 100%;
}

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  padding: 5px;
}

.table + .row {
  margin-bottom: 20px;
}

/**
 * Base
 */
html, body {
  font-size: 15px;
  font-weight: 300;
  color: #191b1f;
}

@media only screen and (max-width: 990px) {
  html, body {
    font-size: 8px;
  }
}

#main {
  font-size: 15px;
}

.heading-h1, .like-heading-h1, .heading-h2, .like-heading-h2, .heading-h3, .like-heading-h3, .heading-h4, .like-heading-h4, .heading-h5, .like-heading-h5, .heading-h6, .like-heading-h6, html .bm .h1, html .bm .h2, html .bm .h3, html .bm .h4, html .bm .h5, html .bm .h6 {
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .heading-h1, .like-heading-h1, .heading-h2, .like-heading-h2, .heading-h3, .like-heading-h3, .heading-h4, .like-heading-h4, .heading-h5, .like-heading-h5, .heading-h6, .like-heading-h6, html .bm .h1, html .bm .h2, html .bm .h3, html .bm .h4, html .bm .h5, html .bm .h6 {
    text-align: center;
  }
}

.heading-h1 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
}

.like-heading-h1 {
  margin-top: 0;
}

.heading-h2 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
}

.like-heading-h2 {
  margin-top: 0;
}

.heading-h3 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
}

.like-heading-h3 {
  margin-top: 0;
}

.heading-h4 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
}

.like-heading-h4 {
  margin-top: 0;
}

.heading-h5 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
}

.like-heading-h5 {
  margin-top: 0;
}

.heading-h6 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
}

.like-heading-h6 {
  margin-top: 0;
}

.heading-h1,
.entry-description h1,
.like-heading-h1 {
  font-size: 47px;
  line-height: 1.14893617;
  margin-bottom: 2.46666667rem;
}

.heading-h2,
.entry-description h2,
.like-heading-h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 1.66666667rem;
}

.heading-h3,
.entry-description h3,
.like-heading-h3 {
  font-size: 26px;
  line-height: 1.26923077;
  margin-bottom: 0.66666667rem;
}

.heading-h4,
.entry-description h4,
.like-heading-h4 {
  text-align: center;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 0.46666667rem;
}

.entry-description h4 {
  text-align: left;
}

.heading-h5,
.entry-description h5,
.like-heading-h5 {
  font-size: 40px;
  line-height: 1.175;
  margin-bottom: 1.66666667rem;
}

ul {
  line-height: 2.13333333;
}

ul li {
  line-height: 1.22222222;
}

.entry-description {
  margin-bottom: 2rem;
}

.entry-description:last-of-type {
  margin-bottom: 4rem;
}

.entry-description a,
.link {
  font-size: 15px;
  color: #0087c8;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.entry-description a:hover,
.link:hover {
  color: #00a3f1;
  border-bottom: 1px solid #00a3f1;
}

.entry-description a:focus,
.link:focus {
  text-decoration: none;
  outline: none;
}

.mb-no {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 399px) {
  .mb-no-xs {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 559px) {
  .mb-no-sm {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .mb-no-md {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 1247px) {
  .mb-no-lg {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 1439px) {
  .mb-no-xl {
    margin-bottom: 0 !important;
  }
}

.fl-no {
  float: none !important;
}

@media only screen and (max-width: 399px) {
  .fl-no-xs {
    float: none !important;
  }
}

@media only screen and (max-width: 559px) {
  .fl-no-sm {
    float: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .fl-no-md {
    float: none !important;
  }
}

@media only screen and (max-width: 1247px) {
  .fl-no-lg {
    float: none !important;
  }
}

@media only screen and (max-width: 1439px) {
  .fl-no-xl {
    float: none !important;
  }
}

.align-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Functions list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
.btn.btn-md {
  padding: 6px 38px;
}

.btn.btn-sm {
  padding: 0 15px;
}

.btn.btn-shrink {
  padding-left: calc(64px - 2rem);
  padding-right: calc(64px - 2rem);
}

.btn.btn-fluid {
  max-width: none;
  width: 100%;
}

.btn-block {
  max-width: none;
  width: 100%;
}

@media only screen and (max-width: 399px) {
  .btn-block-xs {
    max-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 559px) {
  .btn-block-sm {
    max-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .btn-block-md {
    max-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 1247px) {
  .btn-block-lg {
    max-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 1439px) {
  .btn-block-xl {
    max-width: none;
    width: 100%;
  }
}

.form-group.required {
  position: relative;
}

.form-group.required .field-label span, .form-group.required .control-label span {
  position: relative;
  display: inline-block;
}

.form-group.required .field-label span:after, .form-group.required .control-label span:after {
  content: '*';
  position: absolute;
  color: #cb6868;
  top: -3px;
  right: -10px;
  font-weight: 600;
  font-size: 12px;
}

.field-label.label-fluid {
  display: block;
  padding: 0;
  margin-bottom: 0.66666667rem;
}

.field-label.label-text-right {
  display: block;
  text-align: right;
}

.field-label.checkbox-label, .field-label.radio-label, .field-label.radio-input {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.label-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  text-align: right;
}

@media only screen and (min-width: 400px) {
  .label-right-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    text-align: right;
  }
}

@media only screen and (min-width: 560px) {
  .label-right-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .label-right-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    text-align: right;
  }
}

@media only screen and (min-width: 1248px) {
  .label-right-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    text-align: right;
  }
}

@media only screen and (min-width: 1440px) {
  .label-right-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    text-align: right;
  }
}

.text-center {
  text-align: center !important;
}

@media only screen and (max-width: 399px) {
  .text-center-xs {
    text-align: center !important;
  }
}

@media only screen and (max-width: 559px) {
  .text-center-sm {
    text-align: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .text-center-md {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1247px) {
  .text-center-lg {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1439px) {
  .text-center-xl {
    text-align: center !important;
  }
}

/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Including of the secondary font
 */
@font-face {
  font-family: "Blogger Sans";
  src: url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Medium.eot");
  src: url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Medium.eot?#iefix") format("embedded-opentype"), url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Medium.woff") format("woff"), url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Medium.ttf") format("truetype"), url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Medium.svg#Blogger Sans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blogger Sans Bold";
  src: url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Bold.eot");
  src: url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Bold.woff") format("woff"), url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Bold.ttf") format("truetype"), url("../../../font/d_visualize_skin/d_dreamvention/blogger-sans/BloggerSans-Bold.svg#Blogger Sans Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * Base
 */
html, body {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  color: #191b1f;
}

@media only screen and (max-width: 990px) {
  html, body {
    font-size: 8px;
  }
}

body {
  font-size: 15px;
}

.heading-h1, .like-heading-h1, .heading-h2, .like-heading-h2, .heading-h3, .like-heading-h3, .heading-h4, .like-heading-h4, .heading-h5, .like-heading-h5, .heading-h6, .like-heading-h6, html .bm .h1, html .bm .h2, html .bm .h3, html .bm .h4, html .bm .h5, html .bm .h6 {
  font-family: "Blogger Sans Bold";
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .heading-h1, .like-heading-h1, .heading-h2, .like-heading-h2, .heading-h3, .like-heading-h3, .heading-h4, .like-heading-h4, .heading-h5, .like-heading-h5, .heading-h6, .like-heading-h6, html .bm .h1, html .bm .h2, html .bm .h3, html .bm .h4, html .bm .h5, html .bm .h6 {
    text-align: center;
  }
}

.heading-h1, html .bm .h1 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
  color: unset;
}

.like-heading-h1 {
  margin-top: 0;
}

.heading-h2, html .bm .h2 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
  color: unset;
}

.like-heading-h2 {
  margin-top: 0;
}

.heading-h3, html .bm .h3 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
  color: unset;
}

.like-heading-h3 {
  margin-top: 0;
}

.heading-h4, html .bm .h4 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
  color: unset;
}

.like-heading-h4 {
  margin-top: 0;
}

.heading-h5, html .bm .h5 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
  color: unset;
}

.like-heading-h5 {
  margin-top: 0;
}

.heading-h6, html .bm .h6 {
  margin-top: 0;
  margin-bottom: 0.53333333rem;
  color: unset;
}

.like-heading-h6 {
  margin-top: 0;
}

html .bm .h1,
.heading-h1,
.entry-description h1,
.like-heading-h1 {
  font-size: 47px;
  line-height: 1.14893617;
  margin-bottom: 2.46666667rem;
}

.bm .post-thumb .post-thumb-heading .title a,
html .bm .bm-post-content .form-review > .h2,
.heading-h2,
.entry-description h2,
.like-heading-h2 {
  font-size: 35px;
  line-height: 1.11904762;
  margin-bottom: 1.66666667rem;
}

html .bm h3,
.heading-h3,
.entry-description h3,
.like-heading-h3 {
  font-family: "Blogger Sans";
  font-size: 26px;
  line-height: 1.42424242;
  margin-bottom: 0.66666667rem;
}

html .bm .h4,
.heading-h4,
.entry-description h4,
.like-heading-h4 {
  text-align: center;
  font-size: 20px;
  line-height: 1.74074074;
  margin-bottom: 0.46666667rem;
}

.entry-description h4 {
  text-align: left;
}

html .bm .h5,
.heading-h5,
.entry-description h5,
.like-heading-h5 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 1.66666667rem;
}

ul {
  line-height: 2.13333333;
}

ul li {
  line-height: 1.22222222;
}

.entry-description {
  margin-bottom: 2rem;
}

.entry-description:last-of-type {
  margin-bottom: 4rem;
}

.entry-description a,
.link {
  font-size: 15px;
  color: #0087c8;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.entry-description a:hover,
.link:hover {
  color: #00a3f1;
  border-bottom: 1px solid #00a3f1;
}

.entry-description a:focus,
.link:focus {
  text-decoration: none;
  outline: none;
}

/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Functions list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col {
  display: inline-block;
  padding: 0 15px;
}

@media only screen and (max-width: 639px) {
  .col {
    display: block;
  }
}

/*
 * Slideout
 */
.slideout-menu {
  width: 268px;
  font-size: 18px;
}

.slideout-menu .mobile-menu-header {
  margin-bottom: 20px;
  padding-bottom: 0;
}

.mobile-menu-header {
  font-weight: 500;
  padding: 30px;
  margin-bottom: 15px;
}

.mobile-menu-links {
  padding: 0 30px 30px;
}

.slideout-panel {
  -webkit-box-shadow: 0 0 40px 0 rgba(2, 2, 2, .2), inset 0 0 40px 0 rgba(0, 0, 0, .03);
  -ms-box-shadow: 0 0 40px 0 rgba(2, 2, 2, .2), inset 0 0 40px 0 rgba(0, 0, 0, .03);
  -o-box-shadow: 0 0 40px 0 rgba(2, 2, 2, .2), inset 0 0 40px 0 rgba(0, 0, 0, .03);
  box-shadow: 0 0 40px 0 rgba(2, 2, 2, .2), inset 0 0 40px 0 rgba(0, 0, 0, .03);
  background: #fff;
}

.header {
  background: #e6eCf7;
  padding: 2.66666667rem 0;
  margin-bottom: 2rem;
}

.header .cart {
  float: right;
  margin: 6px 0;
  padding-right: 10px;
}

.header .cart .dropdown-menu {
  right: 10px;
}

.header .menu-item {
  float: left;
  margin-right: 45px;
  font-size: 18px;
  padding: 10px 0 0;
}

.header .menu-item:last-of-type {
  margin-right: 0;
}

.header .menu-item a {
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .menu-item a:hover {
  color: #2cbd53;
}

.header .mobile-menu-toggle {
  font-size: 42px;
  z-index: 2;
}

@media only screen and (max-width: 559px) {
  .header .mobile-menu-toggle {
    font-size: 24px;
  }
}

.header .cart-icon {
  position: relative;
  display: inline-block;
  width: 35px;
}

@media only screen and (max-width: 990px) {
  .header .cart-icon {
    width: 50px;
  }
}

@media only screen and (max-width: 559px) {
  .header .cart-icon {
    width: 27px;
  }
}

.header .cart-icon_mark {
  position: relative;
}

.header .cart-icon_mark:after {
  content: '';
  display: none;
  position: absolute;
  top: 6px;
  right: -4px;
  width: 14px;
  height: 14px;
  background: #eb6651;
  border-radius: 50%;
}

@media only screen and (max-width: 990px) {
  .header .cart-icon_mark:after {
    display: block;
  }
}

@media only screen and (max-width: 559px) {
  .header .cart-icon_mark:after {
    top: 4px;
    right: -2px;
    width: 10px;
    height: 10px;
  }
}

.header .cart-icon .cart-total {
  position: absolute;
  top: -5px;
  right: -11px;
  width: 26px;
  height: 26px;
  background: #fff;
  border: 3px solid #000;
  text-align: center;
  color: #000;
  font-size: 13px;
  line-height: 1.46666667rem;
  font-weight: 400;
  border-radius: 50%;
}

@media only screen and (max-width: 990px) {
  .header .cart-icon .cart-total {
    display: none;
  }
}

.footer {
  margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer-body {
  background: #e6eCf7;
  padding: 4rem 0;
}

.footer-body .col-header {
  display: block;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 2rem;
  font-weight: 500;
}

.footer .list-item a {
  display: inline-block;
  margin-bottom: 10px;
  color: #000;
}

.footer .copyright {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 2.66666667rem 0;
  text-align: center;
}

@media only screen and (max-width: 990px) {
  .footer .secondary-nav {
    text-align: center;
  }
  .footer .secondary-nav.height {
    min-height: 255px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .footer .secondary-nav {
    min-height: auto;
    margin-bottom: 30px;
  }
  .footer .secondary-nav.height {
    min-height: auto;
  }
  .footer .secondary-nav.last {
    margin-bottom: 0;
  }
}

.footer .link:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}

.comments-section .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.comments-section .rating {
  display: inline-block;
  margin-bottom: 0;
}

.comments-section .comment {
  margin-bottom: 2.66666667rem;
}

.comments-section .comment:before, .comments-section .comment:after {
  content: " ";
  display: table;
}

.comments-section .comment:after {
  clear: both;
}

.comments-section .comment .avatar {
  float: left;
  width: 65px;
  height: 65px;
  background: #e6eCf7;
  border-radius: 50%;
  margin-right: 2rem;
}

.comments-section .comment .comment-data {
  float: right;
  width: calc(100% - 65px - 2rem);
}

.comments-section .comment .rating .fa {
  font-size: 16px;
}

.comments-section .comment .rating .fa-stack {
  height: 16px;
  width: 16px;
}

.comments-section .author-name {
  font-weight: 600;
  margin-right: 10px;
}

.comments-section .comment-date {
  color: #7c8598;
  font-size: 13px;
  margin-right: 10px;
}

.comments-section .new-comment .rating {
  margin-top: 13px;
}

.slideout-menu-left {
  background: #e6eCf7;
}

.slideout-menu-left .menu-item {
  margin-bottom: 15px;
}

.slideout-menu-left .menu-item a {
  color: #000;
}

.slideout-menu-right {
  left: calc(100% - 268px);
  background: #fff;
}

.slideout-menu-right .mobile-cart-content {
  margin: 5px;
  padding: 10px;
  background: #fff;
}

.slideout-menu-right .mobile-cart-content .product-name {
  width: 55%;
  margin-right: 10px;
}

.slideout-menu-right .mobile-cart-content .btn {
  max-width: none;
}

.slideout-menu-right .mobile-cart-content .btn-success {
  margin-bottom: 15px;
}

.slideout-menu-right .mobile-menu-header {
  background: #e6eCf7;
  padding: 39px 30px;
}

@media only screen and (max-width: 559px) {
  .slideout-menu-right .mobile-menu-header {
    padding: 26px 30px;
  }
}

.checkbox-container {
  display: inline-block;
}

.checkbox-container input:checked + .checkbox-control:before, .checkbox-container input:checked + .checkbox-control:after {
  opacity: 1;
}

.checkbox-container .checkbox-input {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 6px;
}

.checkbox-container .checkbox-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #c4d2ec;
  border: 2px solid #c4d2ec;
  border-radius: 5px;
  overflow: hidden;
}

.checkbox-container .checkbox-control:before {
  content: '';
  position: absolute;
  background: #e6ecf7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.checkbox-container .checkbox-control:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 6px;
  height: 9px;
  border: 2px solid #82a0d7;
  border-top: 0;
  border-left: 0;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.select-container {
  position: relative;
  min-width: 120px;
}

.select-container:hover:after {
  background: #dde4f2;
}

.select-container:before {
  content: '';
  position: absolute;
  top: 27px;
  right: 20px;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #95afdd;
  margin-top: -2px;
  border-width: 5px 6px;
  z-index: 1;
}

.select-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 2px;
  width: 50px;
  border-left: 2px solid #cfdbf0;
  height: 46px;
  margin-top: 2px;
  border-radius: 0 2px 2px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
}

select {
  cursor: pointer;
}

.field, .form-control {
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid #c4d2ec;
  border-radius: 4px;
  padding: 12px 20px;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.field::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

.field:-moz-placeholder, .form-control:-moz-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

.field::-moz-placeholder, .form-control::-moz-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

.field:-ms-input-placeholder, .form-control:-ms-input-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

.field-area, .form-control-area {
  height: 150px;
}

.field:focus, .form-control:focus {
  border-color: #9eaecb;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.field-required, .form-control-required {
  color: #cb6868;
}

.field-label, .form-control-label {
  font-size: 16px;
  padding: 14px 15px;
}

.form-horizontal {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.33333333rem;
}

.form-group .text-danger {
  font-size: 13px;
  color: #cb6868;
  margin-top: 4px;
}

.password-forgot {
  display: block;
  margin-top: 10px;
}

form .textarea {
  height: 180px;
}

form .telephone-validation {
  padding-left: 50px;
}

fieldset {
  margin-bottom: 1rem;
}

.radio-container input,
.checkbox-container input {
  opacity: 0;
}

.radio-container label,
.checkbox-container label {
  cursor: pointer;
}

.radio-container {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin-right: 15px;
}

.radio-container label:hover .radio-control:after {
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  transform: scale(1);
}

.radio-container input:checked + .radio-control:before {
  background: #cfdbf0;
}

.radio-container input:checked + .radio-control:after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: #82a0d7;
}

.radio-container .radio-input {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.radio-container .radio-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #c4d2ec;
  overflow: hidden;
}

.radio-container .radio-control:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.radio-container .radio-control:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  background: #cfdbf0;
  border-radius: 4px;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 3.33333333rem;
}

.breadcrumb li + li:before {
  color: #000;
}

.breadcrumb a {
  color: #000;
}

.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 16px;
  background: #e6eCf7;
  border: 2px solid #cfdbf0;
  border-radius: 4px;
  color: #fff;
  padding: 12px 64px;
}

.btn:focus, .btn:active, .btn:active:hover, .btn:active:focus {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn:hover {
  background: #dde4f2;
  border-color: #cfdbf0;
  color: #fff;
}

.btn:focus {
  outline: none;
  color: #fff;
}

.btn-close {
  width: 12px;
  height: 12px;
}

.btn-primary {
  background: #4fb5e7;
  border-color: #2ba6e2;
  border-color-background: #27b7fd;
  border-color-border-color: #1e9ddb;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  background: #1589c1;
  border-color: #1776a5;
  outline: none;
}

.btn-secondary, .btn-success {
  background: #86ce99;
  border-color: #69c281;
  border-color-background: #2cbd53;
  border-color-border-color: #45a95f;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-success:focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus {
  background: #4faf68;
  border-color: #42a25b;
}

.btn-danger {
  background: #cf4949;
  border-color: #b93131;
}

.btn-danger:hover {
  background: #da3d3d;
  border-color: #b12f2f;
}

.btn-danger:focus, .btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus {
  background: #bc3a3a;
  border-color: #8d2525;
}

.btn-warning, .btn-like-warning {
  background: #f0b840;
  border-color: #eba612;
}

.btn-warning:hover, .btn-like-warning:hover {
  background: #eba612;
  border-color: #d39511;
}

.btn-warning:focus, .btn-warning:active, .btn-warning:active:hover, .btn-warning:active:focus, .btn-like-warning:focus, .btn-like-warning:active, .btn-like-warning:active:hover, .btn-like-warning:active:focus {
  background: #d59202;
  border-color: #b27e0e;
}

.btn-default, .btn[disabled] {
  background: #cfcfcf;
  border-color: #bbbbbb;
  border-color-background: #b1b1b1;
  border-color-border-color: #a1a1a1;
}

.btn-default:focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn[disabled]:focus, .btn[disabled]:active, .btn[disabled]:active:hover, .btn[disabled]:active:focus {
  background: #959595;
  border-color: #838282;
  color: #fff;
}

.btn-ghost {
  background: none;
}

.btn-ghost:hover {
  background: #b1b1b1;
}

.btn-ghost:focus, .btn-ghost:active, .btn-ghost:active:hover, .btn-ghost:active:focus {
  background: #959595;
}

.btn-info {
  background: #d9dcec;
  background-background: #c6cce4;
}

.btn-info:focus, .btn-info:active, .btn-info:active:hover, .btn-info:active:focus {
  background: #abb2d8;
}

.buttons .btn-default {
  margin-bottom: 1rem;
}

div.swiper-viewport {
  background: rgba(255, 255, 255, 0);
  border: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

div.swiper-viewport:hover .swiper-button-prev,
div.swiper-viewport:hover .swiper-button-next {
  opacity: 1;
}

div.swiper-viewport:hover .swiper-button-prev {
  left: 20px;
}

div.swiper-viewport:hover .swiper-button-next {
  right: 30px;
}

div.swiper-viewport .swiper-slide {
  border-radius: 4px;
  overflow: hidden;
  height: auto;
}

div.swiper-viewport .swiper-wrapper {
  height: auto;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #f3f6fb;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-pagination .swiper-pagination-bullet:hover {
  background: #b0c3e6;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #cfdbf0;
}

.swiper-pager .swiper-button-prev,
.swiper-pager .swiper-button-next {
  height: 30px;
}

.swiper-pager .swiper-button-prev:before, .swiper-pager .swiper-button-prev:after,
.swiper-pager .swiper-button-next:before,
.swiper-pager .swiper-button-next:after {
  content: '';
  position: absolute;
  top: 7px;
  width: 20px;
  background: #fff;
  height: 3px;
  display: block;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-pager .swiper-button-prev:after,
.swiper-pager .swiper-button-next:after {
  top: 20px;
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-pager .swiper-button-next {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  transform: rotate(180deg);
}

.desk {
  border: 2px solid #c4d2ec;
  border-radius: 4px;
  padding: 1.66666667rem;
  background: #f3f6fb;
  margin-bottom: 2rem;
}

.desk_title {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.desk_value {
  margin-bottom: 0;
}

@media only screen and (max-width: 990px) {
  .logo {
    text-align: center;
  }
}

.logo a {
  font-size: 30px;
  line-height: 1;
  display: inline-block;
  font-family: "Blogger Sans Bold";
  color: #000;
}

@media only screen and (max-width: 990px) {
  .logo a {
    font-size: 47px;
  }
}

@media only screen and (max-width: 559px) {
  .logo a {
    font-size: 24px;
  }
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.open .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.alert {
  position: relative;
  font-size: 15px;
  padding: 19px 40px 19px 19px;
  border: 2px solid #c4d2ec;
  margin-bottom: 1.33333333rem;
}

.alert .close {
  position: absolute;
  top: 50%;
  right: 19px;
  margin-top: -10px;
  opacity: .3;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.alert .close:hover {
  opacity: .5;
}

.alert-info {
  background: #fcf0d6;
  border-color: #ead6ac;
  color: #d2a647;
}

.alert-info .close {
  color: #d2a647;
}

.alert-success {
  background: #e5f4e9;
  border-color: #c1e6cb;
  color: #62a975;
}

.alert-success .close {
  color: #62a975;
}

.alert-danger {
  background: #fff0f0;
  border-color: #f4dada;
  color: #cb6868;
}

.alert-danger .close {
  color: #cb6868;
}

#main .pagination {
  margin: 0 0 20px;
}

#main .pagination li.active a, #main .pagination li.active span, #main .pagination li.active a:hover, #main .pagination li.active span:hover, #main .pagination li a:hover, #main .pagination li span:hover {
  background: #dde4f2;
  border-color: #cfdbf0;
  color: #000;
}

#main .pagination li a, #main .pagination li span {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 38px;
  border: 2px solid #c4d2ec;
  font-weight: 400;
  color: #000;
  margin-left: -2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product-thumb {
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 3.33333333rem;
}

@media only screen and (max-width: 767px) {
  .product-thumb {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-thumb:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(2, 2, 2, 0.2), inset 0px 0px 40px 0px rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 0px 0px 40px 0px rgba(2, 2, 2, 0.2), inset 0px 0px 40px 0px rgba(0, 0, 0, 0.03);
  -o-box-shadow: 0px 0px 40px 0px rgba(2, 2, 2, 0.2), inset 0px 0px 40px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 40px 0px rgba(2, 2, 2, 0.2), inset 0px 0px 40px 0px rgba(0, 0, 0, 0.03);
}

.product-thumb .heading-h3 {
  height: 49px;
  font-family: "Blogger Sans";
  font-size: 18px;
  line-height: 1.44444444;
  color: #000;
  margin-bottom: 0.46666667rem;
  overflow: hidden;
}

@media only screen and (max-width: 1198px) {
  .product-thumb .heading-h3 {
    font-size: 17px;
  }
}

.product-thumb .image-wrap {
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.product-thumb_image {
  max-width: 100%;
}

.product-thumb_subtitle {
  display: block;
  margin-bottom: 1.66666667rem;
  text-align: center;
  font-size: 16px;
  height: 44px;
  overflow: hidden;
}

.product-thumb_cover {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.product-thumb_body {
  padding: 2rem 2.26666667rem;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  border: 2px solid #c4d2ec;
  border-top: none;
}

.product-thumb_description p {
  height: 54px;
  font-size: 13px;
}

.product-thumb_ribbon {
  position: absolute;
  top: -5px;
  right: -9px;
  width: 115px;
  height: 125px;
}

.product-thumb_ribbon_free {
  background: url("../../../image/d_visualize_skin/d_dreamvention/Ribbon_FREE.svg") no-repeat;
}

.product-thumb_ribbon_bestseller {
  background: url("../../../image/d_visualize_skin/d_dreamvention/Ribbon_FREE.svg") no-repeat;
}

.product-thumb .product-link {
  display: inline-block;
}

.product-thumb .product-price {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0.6rem;
}

.product-thumb .block-left {
  float: left;
}

.product-thumb .rating {
  margin-bottom: 0;
}

.product-thumb .rating .fa-stack, .product-thumb .rating .fa-stack-2x {
  width: 13px;
  height: 13px;
  font-size: 13px;
}

.product-thumb .btn {
  float: right;
}

.d_product_sort {
  margin-bottom: 3rem;
}

.d_product_sort .field-label {
  padding-left: 0;
  padding-right: 0;
}

.rating {
  line-height: 1;
  margin-bottom: 15px;
  cursor: pointer;
}

.rating .fa-stack {
  width: 23px;
  height: 23px;
  line-height: 1;
  font-size: 24px;
  color: #2cbd53;
}

.rating .rating-symbol {
  font-size: 22px;
  padding-right: 3px;
}

.rating .fa.empty {
  color: #e6eCf7;
}

.rating-symbol .fa-stack-2x {
  position: relative;
}

.rating-symbol .rating-symbol-foreground {
  color: #2cbd53;
}

.rating-symbol .rating-symbol-background {
  color: #e6ecf7;
}

.search input[name="search"] {
  font-size: 12px;
  height: 40px;
}

.search button {
  height: 40px;
  font-size: 15px;
  font-size-line-height: 18px;
  font-size-padding: 10px 35px;
  font-size-text-shadow: 0 1px 0 #fff;
}

.card {
  position: relative;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 1px -1px 8px rgba(119, 119, 119, 0.2);
          box-shadow: 1px -1px 8px rgba(119, 119, 119, 0.2);
  border-radius: 4px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-bottom: 2rem;
}

.card:hover .product-image {
  -webkit-transform: scale(1.1);
  -khtml-transform: scale(1.1);
  transform: scale(1.1);
}

.card .image-wrap {
  position: relative;
  height: 370px;
  overflow: hidden;
}

.card .product-image {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  margin-top: -185px;
  margin-left: -224px;
  top: 50%;
  left: 50%;
}

.card .product-cover {
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card .product-cover .product-name {
  font-family: "Blogger Sans Bold";
  font-size: 34px;
}

.card .product-subtitle {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.card .btn {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

.card .product-capabilities {
  margin-bottom: 20px;
  line-height: 1.8;
  list-style: disc;
  padding-left: 17px;
}

.card-expanded:hover .product-cover {
  -webkit-transform: scale(1.1);
  -khtml-transform: scale(1.1);
  transform: scale(1.1);
  padding: 45px;
}

.card-expanded .image-wrap {
  float: left;
  width: 60%;
}

.card-expanded .product-cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  color: #fff;
  text-align: right;
}

.card-expanded .product-description {
  max-width: 200px;
}

.card-expanded .product-info {
  float: right;
  width: 40%;
  padding: 25px;
}

.card-default:hover .product-extra-info {
  opacity: 1;
  background: #e6c8fa;
}

.card-default .product-extra-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 67px;
  left: 0;
  padding: 0 25px 25px;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cart .cart_product {
  margin-bottom: 1rem;
}

.cart .cart_product:before, .cart .cart_product:after {
  content: " ";
  display: table;
}

.cart .cart_product:after {
  clear: both;
}

.cart .cart_product:last-of-type {
  margin-bottom: 0;
}

.cart .dropdown-menu {
  min-width: 460px;
  padding: 0;
  margin-top: 15px;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.13);
  border: none;
}

.cart .dropdown-menu:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  margin-bottom: -3px;
  top: -8px;
  right: 25px;
}

.cart .product-image {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 4px;
}

.cart .product-image .img-thumbnail {
  border: none;
}

.cart .product-image a {
  display: inline-block;
}

.cart .product-link {
  display: block;
}

.cart .btn-close {
  display: inline-block;
  float: right;
  margin-top: 5px;
}

.cart .product-name {
  float: left;
  width: 40%;
  margin-right: 50px;
  font-size: 16px;
}

.cart .product-name a {
  color: #000;
}

.cart .product-total {
  float: left;
  font-size: 19px;
  font-weight: 500;
}

.cart .cart-header {
  padding: 30px;
  border-bottom: 1px solid #e4eaf5;
}

.cart .cart-header:before, .cart .cart-header:after {
  content: " ";
  display: table;
}

.cart .cart-header:after {
  clear: both;
}

.cart .cart-body {
  padding: 30px;
}

.cart .table-total {
  font-weight: 500;
  width: 100%;
  margin-bottom: 20px;
}

.cart .table-total span {
  display: inline-block;
}

.cart .table-total td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart .table-total_info {
  width: 240px;
  width: calc(70px + 10px + 40%);
  font-size: 16px;
  padding-left: 80px;
  margin-right: 50px;
  text-align: right;
}

.cart .table-total_value {
  font-size: 19px;
}

.cart .btn {
  max-width: 155px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.cart .btn-secondary {
  float: left;
}

.cart .btn-primary {
  float: right;
}

.cart .buttons-group:before, .cart .buttons-group:after {
  content: " ";
  display: table;
}

.cart .buttons-group:after {
  clear: both;
}

.cart .text-empty {
  font-weight: normal;
  margin-bottom: 0;
  padding: 50px 0;
  text-align: center;
}

.table thead tr {
  background: #f3f6fb;
}

.table thead tr td {
  font-weight: 600;
  padding: 14px 29px;
}

.table tbody tr {
  border-bottom: 2px solid #c4d2ec;
}

.table tbody tr:last-of-type {
  border-bottom: none;
}

.table tbody tr td {
  border: none;
  padding: 14px 29px;
}

.table-hover tbody tr {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.table-hover tbody tr:hover {
  background: #f3f6fb;
}

#currency {
  cursor: pointer;
}

#currency.open > a {
  background: none;
}

#currency .dropdown-menu {
  border-radius: 0;
  margin-top: 12px;
  padding: 8px 0;
  border: none;
}

#currency .dropdown-menu a {
  padding: 8px 20px;
}

aside .list-group-item {
  border: 2px solid #e4e9f3;
  padding: 1.33333333rem;
  font-weight: 500;
  margin-bottom: -2px;
  color: #000;
}

aside .list-group-item:hover {
  background: #dde4f2;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .account-page .list-unstyled {
    text-align: center;
  }
}

.account-page .list-unstyled a {
  display: inline-block;
  margin-bottom: 10px;
}

.address-page .table-bordered {
  font-size: 16px;
  font-weight: 400;
}

.address-page .table-bordered > tbody > tr > td:nth-of-type(2) {
  border: none;
}

.login-page .heading-subtitle {
  display: block;
  font-family: "Blogger Sans";
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0.66666667rem;
}

.order-page table {
  font-size: 16px;
  font-weight: 400;
}

.cart-wrapper {
  margin-bottom: 2rem;
}

.cart-info {
  width: 100%;
  border: 2px solid #cfdbf0;
  border-radius: 4px;
  border-collapse: separate;
  font-size: 16px;
  margin-bottom: 2rem;
  overflow-x: auto;
}

.cart-info .col_product-image {
  width: 16%;
}

.cart-info .col_product-name {
  width: 19%;
}

.cart-info .col_product-quantity {
  width: 30%;
}

.cart-info .col_product-total {
  width: 14%;
}

.cart-info .col_product-price {
  width: 15%;
}

.cart-info .col_close {
  width: 6%;
}

.cart-info .product-link {
  display: inline-block;
}

.cart-info thead {
  background: #f3f6fb;
}

.cart-info tr:last-of-type td {
  padding-bottom: 18px;
}

.cart-info td {
  padding: 18px 18px 28px;
  border-top: none;
  vertical-align: middle;
}

.cart-info a {
  color: #000;
}

.cart-info a:hover {
  text-decoration: underline;
}

.cart-info .input-group-btn {
  min-width: 40px;
  height: 40px;
}

.cart-info .input-group-btn .btn {
  width: 100%;
}

.cart-info .form-control:focus {
  border-color: #cfdbf0;
}

.cart-info .qc-product-qantity {
  width: 84px;
  height: 40px;
  font-size: 15px;
  margin: 0 -2px;
  border-radius: 0;
}

.cart-info tbody .qc-price,
.cart-info tbody .qc-total {
  font-size: 19px;
  font-weight: 500;
}

.cart-info .btn-group .btn,
.cart-info .input-group .btn {
  background: #f3f6fb;
  height: 40px;
  border-radius: 4px;
  border-color: #cfdbf0;
  margin: 0;
  padding: 0;
  line-height: 36px;
}

.cart-info .btn-group .btn:hover,
.cart-info .input-group .btn:hover {
  background: #dde4f2;
}

.cart-info .btn-decrease {
  background: #000;
  border-radius: 4px 0 0 4px;
}

.cart-info .btn-increase {
  border-radius: 0 4px 4px 0;
}

.cart-info .field {
  height: 40px;
}

.cart-info .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-info .input-group .field {
  text-align: center;
  border-radius: 0;
}

.cart-info .input-group .field-product-quantity {
  width: 85px;
  margin: 0 -2px;
}

.cart-info .cart-total-price,
.cart-info .cart-unit-price {
  font-size: 19px;
  font-weight: 500;
}

@media only screen and (max-width: 639px) {
  .cart-info {
    display: block;
  }
}

.cart-info_totals {
  width: 100%;
  margin-bottom: 6.66666667rem;
  font-size: 19px;
  font-weight: 500;
}

.cart-info_totals td {
  padding: 18px;
}

.cart-info_totals .cart-totals-total {
  width: 79%;
  padding-left: calc(65% + 18px);
}

@media (max-width: 991px) {
  .cart-info_totals .cart-totals-total {
    padding-left: 0;
  }
  .cart-info_totals .cart-totals-price {
    width: 21%;
    padding: 18px;
  }
}

.cart-buttons:before, .cart-buttons:after {
  content: " ";
  display: table;
}

.cart-buttons:after {
  clear: both;
}

.cart-buttons .btn-success {
  float: left;
}

.cart-buttons .btn-primary {
  float: right;
}

@media only screen and (max-width: 559px) {
  .cart-buttons .btn {
    display: block;
    float: none;
    margin: 0 auto 20px;
  }
  .cart-buttons .btn:last-of-type {
    margin-bottom: 0;
  }
}

.featured-slider .product-thumb {
  margin-bottom: 20px;
}

.featured-slider + .swiper-pagination {
  bottom: -20px;
}

@media only screen and (max-width: 639px) {
  .slideshow-slider {
    display: none;
  }
}

.product-section .product-images {
  width: 100%;
  margin-bottom: 7px;
}

.product-section .product-images_additional:before, .product-section .product-images_additional:after {
  content: " ";
  display: table;
}

.product-section .product-images_additional:after {
  clear: both;
}

.product-section .product-images_additional .thumbnail {
  float: left;
  max-width: 165px;
  width: 100%;
  height: 103px;
}

.product-section .product-images .thumbnail {
  position: relative;
  margin: 0 30px 30px 0;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #cfdbf0;
}

.product-section .product-images .thumbnail:last-of-type {
  margin-right: 0;
}

.product-section .product-images .thumbnail:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url("../../../image/iconfinder-icon.svg") center/cover no-repeat;
  background-size: 25%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product-section .product-images .thumbnail img {
  background: #7c8598;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product-section .product-images .thumbnail:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-section .product-images .thumbnail:hover:after {
  opacity: .9;
}

.product-section .product-images .thumbnail-main {
  border: none;
  margin-bottom: 20px;
}

.product-section .product-price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.product-section .product-price-block .price-label {
  font-size: 20px;
  font-weight: 500;
}

.product-section .product-price {
  font-weight: 600;
}

.product-section .product-info {
  background: #f3f6fb;
  border-radius: 4px;
  padding: 2.66666667rem;
  margin-bottom: 2rem;
}

.product-section .product-info .form-group {
  margin-bottom: 2rem;
}

.product-section .review-link {
  font-size: 13px;
  margin-bottom: 10px;
}

.product-section .product-content:before, .product-section .product-content:after {
  content: " ";
  display: table;
}

.product-section .product-content:after {
  clear: both;
}

.product-section .product_attributes {
  width: 100%;
}

.product-section .product_attributes td {
  width: 50%;
  height: 30px;
  vertical-align: top;
}

.product-section .product_attributes .product_attributes_name {
  font-weight: 500;
}

.product-section .like-heading-h2 {
  font-family: "Blogger Sans";
}

.product-section .btn-wrap {
  margin-bottom: 2rem;
}

.product-section .btn-wrap .btn {
  margin-right: 15px;
}

.product-section .btn-wrap .btn:last-of-type {
  margin-right: 0;
}

#d_quickcheckout .table {
  display: block;
  overflow-x: auto;
}

#d_quickcheckout #cart_view .qc-totals .row:last-child {
  border: none;
}

#d_quickcheckout #cart_view .qc-totals .form-control-static {
  text-align: left;
  padding-left: 11%;
}

#d_quickcheckout #cart_view .qc-totals .control-label,
#d_quickcheckout #cart_view .qc-totals .form-control-static {
  font-weight: 500;
  font-size: 19px;
}

#d_quickcheckout .qc-cart {
  width: 100%;
  border: 2px solid #cfdbf0;
  border-radius: 4px;
  border-collapse: separate;
  font-size: 16px;
  margin-bottom: 2rem;
}

#d_quickcheckout .qc-cart thead td {
  font-weight: 100;
}

#d_quickcheckout .qc-cart td {
  padding: 18px 18px 28px;
  vertical-align: middle;
  border: none;
}

#d_quickcheckout .qc-cart tr:last-of-type td {
  padding-bottom: 18px;
}

#d_quickcheckout .qc-cart .qc-image {
  width: 16%;
}

#d_quickcheckout .qc-cart .qc-name {
  width: 19%;
}

#d_quickcheckout .qc-cart .qc-quantity {
  width: 29%;
}

#d_quickcheckout .qc-cart .qc-quantity .form-control {
  height: 40px;
}

#d_quickcheckout .qc-cart .qc-quantity .btn {
  background: #f3f6fb;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #c4d2ec;
  margin: 0;
  padding: 0;
  line-height: 36px;
  color: #000;
}

#d_quickcheckout .qc-cart .qc-quantity .btn:hover {
  background: #dde4f2;
}

#d_quickcheckout .qc-cart .qc-quantity .btn.decrease {
  border-radius: 4px 0 0 4px;
}

#d_quickcheckout .qc-cart .qc-quantity .btn.increase {
  border-radius: 0;
}

#d_quickcheckout .qc-cart .qc-quantity .btn.delete {
  border-radius: 0 4px 4px 0;
  margin: -2px;
}

#d_quickcheckout .qc-cart .qc-quantity .form-control {
  width: 85px;
  margin: 0 -2px;
  border-radius: 0;
  font-size: 16px;
  color: #000;
}

#d_quickcheckout .qc-cart .qc-quantity .input-group-btn {
  width: 40px;
  height: 40px;
}

#d_quickcheckout .qc-cart .qc-price {
  width: 17%;
}

#d_quickcheckout .qc-cart .qc-total {
  width: 14%;
}

#d_quickcheckout .qc-cart tbody .qc-name a {
  color: #000;
}

#d_quickcheckout .qc-cart tbody .qc-price,
#d_quickcheckout .qc-cart tbody .qc-total {
  font-weight: 500;
  font-size: 19px;
}

#d_quickcheckout .panel-heading {
  padding: 0;
  background: none;
  border: none;
}

#d_quickcheckout .panel-body {
  padding: 0;
}

#d_quickcheckout .panel {
  border: none;
}

#d_quickcheckout .btn-group .btn,
#d_quickcheckout .input-group .btn {
  background: #f3f6fb;
  height: 40px;
  border-radius: 4px;
  border-color: #cfdbf0;
  margin: 0;
  padding: 0;
  line-height: 36px;
}

#d_quickcheckout .btn-group .btn:hover,
#d_quickcheckout .input-group .btn:hover {
  background: #dde4f2;
}

#d_quickcheckout .login-btn-group {
  width: 277px;
  margin-bottom: 60px;
}

#d_quickcheckout .login-btn-group .btn {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  background: none;
}

#d_quickcheckout .login-btn-group .btn.active {
  background: #dde4f2;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#d_quickcheckout .modal-dialog {
  max-width: 400px;
  width: 100%;
}

#d_quickcheckout .modal-header {
  position: relative;
  padding: 60px 80px 0;
  margin-bottom: 10px;
  border-bottom: none;
}

#d_quickcheckout .modal-header .close {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
}

#d_quickcheckout .modal-body {
  padding: 0 80px 60px;
}

#d_quickcheckout .modal-body #remeber_password {
  display: block;
  margin-top: 10px;
}

#d_quickcheckout #login_view .modal {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#d_quickcheckout .radio-input {
  margin-bottom: 30px;
}

#d_quickcheckout .radio-input:last-of-type {
  margin-bottom: 0;
}

#d_quickcheckout .panel {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#d_quickcheckout .radio-input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

#d_quickcheckout .checkbox-container {
  margin-left: 0;
}

html .bm .post-thumb .post-thumb-heading .title a,
html .bm h3,
html .bm p {
  color: #000;
}

html .bm .radio-container .btn-primary,
html .bm .radio-container .btn-primary.active,
html .bm .radio-container .btn-primary:focus,
html .bm .radio-container .btn-primary:active {
  background: none;
  border: none;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html .bm .radio-container .btn-primary:hover,
html .bm .radio-container .btn-primary.active:hover,
html .bm .radio-container .btn-primary:focus:hover,
html .bm .radio-container .btn-primary:active:hover {
  background: none;
  color: #000;
}

html .bm .radio-container .btn {
  padding-left: 0;
  padding-right: 0;
}

html .bm .file-drop-zone {
  border: 2px solid #c4d2ec;
  border-style: dashed;
}

html .bm .file-drop-zone-title {
  color: #cfdbf0;
}

html .bm .form-control {
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid #c4d2ec;
  border-radius: 4px;
  padding: 12px 20px;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

html .bm .form-control::-webkit-input-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

html .bm .form-control:-moz-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

html .bm .form-control::-moz-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

html .bm .form-control:-ms-input-placeholder {
  color: #a9bde3;
  font-weight: 400;
  opacity: .5;
}

html .bm .btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 16px;
  background: #e6eCf7;
  border: 2px solid #cfdbf0;
  border-radius: 4px;
  color: #fff;
  padding: 12px 38px;
}

html .bm .btn:focus, html .bm .btn:active, html .bm .btn:active:hover, html .bm .btn:active:focus {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

html .bm .btn:hover {
  background: #dde4f2;
  border-color: #cfdbf0;
  color: #fff;
}

html .bm .btn:focus {
  outline: none;
  color: #fff;
}

html .bm .btn-primary {
  background: #4fb5e7;
  border-color: #2ba6e2;
}

html .bm .btn-primary:hover {
  background: #27b7fd;
  border-color: #1e9ddb;
}

html .bm .btn-primary:focus, html .bm .btn-primary:active, html .bm .btn-primary:active:hover, html .bm .btn-primary:active:focus {
  background: #1589c1;
  border-color: #1776a5;
  outline: none;
}

html .bm .btn-default {
  background: #f0b840;
  border-color: #eba612;
}

html .bm .btn-default:hover {
  background: #eba612;
  border-color: #d39511;
}

html .bm .btn-default:focus, html .bm .btn-default:active, html .bm .btn-default:active:hover, html .bm .btn-default:active:focus {
  background: #d59202;
  border-color: #b27e0e;
}

html .bm .btn.fileinput-remove {
  background: #cf4949;
  border-color: #b93131;
}

html .bm .btn.fileinput-remove:hover {
  background: #da3d3d;
  border-color: #b12f2f;
}

html .bm .btn.fileinput-remove:focus, html .bm .btn.fileinput-remove:active, html .bm .btn.fileinput-remove:active:hover, html .bm .btn.fileinput-remove:active:focus {
  background: #bc3a3a;
  border-color: #8d2525;
}

html .bm .input-group-btn .btn {
  margin-left: -2px !important;
}

html .bm .rating[class*="rating-"] .fa-stack {
  font-size: 11px;
}
