select
  border: 1px solid #e3dede
  padding: 5px 30px 5px 10px
  outline: none

.select-container
  position: relative
  display: inline-block
  cursor: pointer
  &:after
    content: ''
    +triangle(#e3dede, down, 5px)
    top: 50%
    right: 10px