.field,
.vd input.form-control,
.form-control,
textarea
  border: $borderMain
  padding: 5px 10px
  width: 100%
  outline: none
  +border-radius(0)
  &:focus
    +box-shadow('none')
    border: $borderMain

.field,
.vd input.form-control,
.form-control
  height: $fieldHeightBase

select.field
  padding-right: 30px