<div id="cart_mobile" class="cart cart-mobile">
    <div class="mobile-menu-header"><span>Cart</span></div>
    <div class="mobile-cart-content">
        {% if products %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="cart_product">
                        {% for product in products %}
                                <div class="cart_product">
                                    <div class="text-left product-image">
                                        {% if product.thumb %}
                                            <a href="{{product.href}}"><img src="{{product.thumb}}" alt="{{product.name}}" title="{{product.name}}" class="img-thumbnail" /></a>
                                        {% endif %}</div>
                                    <div class="text-left description product-name"><a href="{{product.href}}">{{product.name}}</a>
                                        {% if product.option %}
                                            {% for opt in option %}
                                                <br />
                                                - <small>{{opt.name}} {{opt.value}}</small>
                                            {% endfor %}
                                        {% endif %}
                                        {% if product.recurring %}
                                            <br />
                                            - <small>{{product.text_recurring}} {{product.recurring}}</small>
                                        {% endif %}
                                        <div class="cart-product-quantity"><b>{{product.price}}</b> x {{product.quantity}}</div>
                                    </div>
                                    <td class="text-center"><a href="" type="button" onclick="cart.remove('{{product.cart_id}}');" title="{{product.button_remove}}" class="cart-delete-product"><img src="../../../image/d_visualize_skin/d_dreamvention/Icon_delete.svg" class="btn-close"></a></td>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-totals">
                        {% for total in totals %}
                            <tr>
                                <td class="totals-name">{{total.title}}:</td>
                                <td class="totals-price text-right">{{total.text}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                {#<div class="col-xs-12">
                    <div class="cart-buttons text-center">
                        <a href="" type="button" class="btn btn-success btn-lg" onclick="window.location='{{cart}}'">{{text_cart}}</a>
                    </div>
                </div>#}
                <div class="col-xs-12">
                    <div class="cart-buttons text-center">
                        <a href="index.php?route=checkout/checkout" type="button" class="btn btn-primary btn-lg">{{text_checkout}}</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="empty-cart">{{text_empty}}</p>
        {% endif %}
    </div>
</div>

<script>
    //check if any products are in cart and add circle.
    if(!$('#cart_mobile').find('.empty-cart').length) {
        $('.cart-icon').addClass('cart-icon_mark');
    }
</script>