<!-- > d_notification -->
{% if attention %}
    <div class="alert alert-info">
        <span>{{ attention }}</span>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endif %}
{% if success %}
    <div class="alert alert-success">
        <span>{{ success }}</span>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endif %}
{% if error_warning %}
    <div class="alert alert-danger">
        <span>{{ error_warning }}</span>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endif %}
<!-- /> d_notification -->
