/**
 * Base
 */
html, body
  font-size: $fontSizeBase
  font-weight: $fontLight
  color: $fontColorMain
  +mq('tablet-wide')
    font-size: 8px

#main
  font-size: $fontSizeBase

%heading
  line-height: $lineHeightBase
  +mq('tablet')
    text-align: center

// generate styles of heading
@for $i from 1 through 6
  .heading-h#{$i}
    @extend %heading
    margin-top: 0
    margin-bottom: rem(8px)
  .like-heading-h#{$i}
    margin-top: 0
    @extend %heading

.heading-h1,
.entry-description h1,
.like-heading-h1
  font-size: $fontSizeH1
  line-height: lh($fontSizeH1, 54)
  margin-bottom: rem(37px)

.heading-h2,
.entry-description h2,
.like-heading-h2
  font-size: $fontSizeH2
  line-height: lh($fontSizeH2, 42)
  margin-bottom: rem(25px)

.heading-h3,
.entry-description h3,
.like-heading-h3
  font-size: $fontSizeH3
  line-height: lh($fontSizeH3, 33)
  margin-bottom: rem(10px)

.heading-h4,
.entry-description h4,
.like-heading-h4
  text-align: center
  font-size: $fontSizeH4
  line-height: lh($fontSizeH4, 27)
  margin-bottom: rem(7px)

.entry-description h4
  text-align: left

.heading-h5,
.entry-description h5,
.like-heading-h5
  font-size: $fontSizeH5
  line-height: lh($fontSizeH5, 47)
  margin-bottom: rem(25px)

ul
  line-height: lh($fontSizeBase, 32)
  li
    line-height: lh(18, 22)

.entry-description
  margin-bottom: rem(30px)
  &:last-of-type
    margin-bottom: rem(60px)

.entry-description a,
.link
  font-size: $fontSizeBase
  color: $colorLink
  +transition(border-color, .3s)
  border-bottom: 1px solid $transparent
  &:hover
    color: lighten($colorLink, 8)
    border-bottom: 1px solid lighten($colorLink, 8)
  &:focus
    text-decoration: none
    outline: none

.alloted

.quote