.checkbox-container
  display: inline-block
  input
    &:checked + .checkbox-control
      &:before, &:after
        opacity: 1
  .checkbox-input
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    margin-right: 10px
    margin-left: 6px
  .checkbox-control
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 2px solid #c4d2ec
    border: $borderMain
    +border-radius(5px)
    overflow: hidden
    &:before
      content: ''
      position: absolute
      background: #e6ecf7
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      -webkit-transition: all .1s ease
      -khtml-transition: all .1s ease
      -moz-transition: all .1s ease
      -ms-transition: all .1s ease
      -o-transition: all .1s ease
      transition: all .1s ease
    &:after
      content: ''
      position: absolute
      top: 3px
      left: 5px
      -webkit-transform: rotate(45deg)
      -khtml-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
      width: 6px
      height: 9px
      border: 2px solid #82a0d7
      border-top: 0
      border-left: 0
      opacity: 0
      -webkit-transition: all .3s ease
      -khtml-transition: all .3s ease
      -moz-transition: all .3s ease
      -ms-transition: all .3s ease
      -o-transition: all .3s ease
      transition: all .3s ease