.select-container
  position: relative
  min-width: 120px
  &:hover:after
    background: #dde4f2
  &:before
    content: ''
    position: absolute
    top: 27px
    right: 20px
    +triangle(darken($colorMainDarken, 15), down)
    border-width: 5px 6px
    z-index: z(select-arrow)

  &:after
    content: ''
    position: absolute
    top: 0
    right: 2px
    width: 50px
    border-left: 2px solid $colorMainDarken
    height: 46px
    margin-top: 2px
    +border-radius(0 2px 2px 0)
    +transition
    pointer-events: none

select
  cursor: pointer