.field, .form-control
  display: block
  width: 100%
  height: $fieldHeightBase
  border: $borderMain
  +border-radius
  padding: $fieldPaddingVertical $fieldPaddingHorizontal
  outline: none
  +transition($value: .2s)
  +placeholder
    color: darken($colorMainDarken, 10)
    font-weight: $fontNormal
    opacity: .5
  &-area
    height: 150px
  &:focus
    border-color: #9eaecb
    +box-shadow(none)
  &-required
    color: $colorDanger

  &-label
    font-size: fz(16px)
    padding: 14px 15px

.form-horizontal
  margin-bottom: rem(30px)

.form-group
  margin-bottom: rem(20px)
  .text-danger
    font-size: $fontSize-xs
    color: $colorDanger
    margin-top: 4px

.password-forgot
  display: block
  margin-top: 10px

form
  .textarea
    height: 180px
  .telephone-validation
    padding-left: 50px

fieldset
  margin-bottom: $indentBase / 2

.radio-container,
.checkbox-container
  input
    opacity: 0
  label
    cursor: pointer