<form class="form-horizontal">
  {% if addresses %}
  <div class="radio">
    <label>
      <input type="radio" name="shipping_address" value="existing" checked="checked" />
      {{text_address_existing}}</label>
  </div>
  <div id="shipping-existing">
    <select name="address_id" class="form-control">
      {% for address in addresses %}
        <option value="{{address.address_id}}" {% if address.address_id == address_id %}selected="selected"{% endif %}>{{address.firstname}} {{address.lastname}}, {{address.address_1}}, {{address.city}}, {{address.zone}}, {{address.country}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="shipping_address" value="new" />
      {{text_address_new}}</label>
  </div>
  {% endif %}
  <br />
  <div id="shipping-new" style="display:{% if addresses %}none{% else %}block{% endif %};">
    {% include 'd_visualize/template/component/d_name_field.twig' with {form:'inline'} %}
    {% include 'd_visualize/template/component/d_address_field.twig' with {form:'inline'} %}
    {% for custom_field in custom_fields %}
      {% if custom_field.location == 'address' %}
        {% set custom_field = custom_field|merge({form:'inline', location:false}) %}
        {% include 'd_visualize/template/component/d_custom_field.twig' with custom_field %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="buttons clearfix">
    <div class="pull-right">
      <input type="button" value="{{button_continue}}" id="button-shipping-address" data-loading-text="{{text_loading}}" class="btn btn-primary" />
    </div>
  </div>
</form>

<script type="text/javascript"><!--
$('input[name=\'shipping_address\']').on('change', function() {
  if (this.value == 'new') {
    $('#shipping-existing').hide();
    $('#shipping-new').show();
  } else {
    $('#shipping-existing').show();
    $('#shipping-new').hide();
  }
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address .form-group[data-sort]').detach().each(function() {
  if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-shipping-address .form-group').length) {
    $('#collapse-shipping-address .form-group').eq($(this).attr('data-sort')).before(this);
  }

  if ($(this).attr('data-sort') > $('#collapse-shipping-address .form-group').length) {
    $('#collapse-shipping-address .form-group:last').after(this);
  }

  if ($(this).attr('data-sort') < -$('#collapse-shipping-address .form-group').length) {
    $('#collapse-shipping-address .form-group:first').before(this);
  }
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address button[id^=\'button-shipping-custom-field\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $(node).parent().find('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input[name^=\'custom_field\']').attr('value', json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});

$('.time').datetimepicker({
  pickDate: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address select[name=\'country_id\']').on('change', function() {
  $.ajax({
    url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
    dataType: 'json',
    beforeSend: function() {
      $('#collapse-shipping-address select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
    },
    complete: function() {
      $('.fa-spin').remove();
    },
    success: function(json) {
      if (json['postcode_required'] == '1') {
        $('#collapse-shipping-address input[name=\'postcode\']').parent().parent().addClass('required');
      } else {
        $('#collapse-shipping-address input[name=\'postcode\']').parent().parent().removeClass('required');
      }

      html = '<option value="">{{text_select}}</option>';

      if (json['zone'] && json['zone'] != '') {
        for (i = 0; i < json['zone'].length; i++) {
          html += '<option value="' + json['zone'][i]['zone_id'] + '"';

          if (json['zone'][i]['zone_id'] == '{{zone_id}}') {
            html += ' selected="selected"';
          }

          html += '>' + json['zone'][i]['name'] + '</option>';
        }
      } else {
        html += '<option value="0" selected="selected">{{text_none}}</option>';
      }

      $('#collapse-shipping-address select[name=\'zone_id\']').html(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('#collapse-shipping-address select[name=\'country_id\']').trigger('change');
//--></script>
