.vd button.btn,
.btn,
button
  background: none
  color: $p_black
  border: $borderMain
  padding: 0
  +border-radius(0)
  height: $fieldHeightBase
  line-height: $lineHeightButton
  &:active
    +box-shadow('none')