.rating
  overflow: hidden
  .fa-stack
    width: rem(16px)
    height: rem(16px)
    float: left
  .fa-star
    position: absolute
    color: $ratingFilled
    font-size: 16px
    &.empty
      color: $ratingEmpty
      z-index: -1

.product-rating
  .rating
    margin-bottom: 10px
    .fa-stack
      width: rem(22px)
      height: rem(22px)
    .fa-star
      font-size: 22px

.rating
  .rating-symbol
    width: rem(22px)
    height: rem(22px)
    .fa-star
      position: static
      font-size: 22px
      &.empty
        z-index: 1
    .rating-symbol-foreground
      overflow: hidden !important
      .fa-star
        color: $ratingFilled