{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block before_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading-h1">{{text_my_account}}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
      <div class="account-page">
          <ul class="list-unstyled">
              <li><a href="{{edit}}" class="link">{{text_edit}}</a></li>
              <li><a href="{{password}}" class="link">{{text_password}}</a></li>
              <li><a href="{{address}}" class="link">{{text_address}}</a></li>
              <li><a href="{{ wishlist }}" class="link">{{ text_wishlist }}</a></li>
          </ul>
          {% if credit_cards %}
              <h2>{{ text_credit_card }}</h2>
              <ul class="list-unstyled">
                  {% for credit_card in credit_cards %}
                      <li><a href="{{ credit_card.href }}" class="link">{{ credit_card.name }}</a></li>
                  {% endfor %}
              </ul>
          {% endif %}
          <h2 class="heading-h2">{{text_my_orders}}</h2>
          <ul class="list-unstyled">
              <li><a href="{{order}}" class="link">{{text_order}}</a></li>
              <li><a href="{{download}}" class="link">{{text_download}}</a></li>
              {% if reward %}
                  <li><a href="{{ reward }}" class="link">{{ text_reward }}</a></li>
              {% endif %}
              <li><a href="{{return}}" class="link">{{text_return}}</a></li>
              <li><a href="{{transaction}}" class="link">{{text_transaction}}</a></li>
              <li><a href="{{ recurring }}" class="link">{{ text_recurring }}</a></li>
          </ul>
          <h2 class="heading-h2">{{ text_my_affiliate }}</h2>
          <ul class="list-unstyled">
              {% if not tracking %}
                  <li><a href="{{ affiliate }}" class="link">{{ text_affiliate_add }}</a></li>
              {% else %}
                  <li><a href="{{ affiliate }}" class="link">{{ text_affiliate_edit }}</a></li>
                  <li><a href="{{ tracking }}" class="link">{{ text_tracking }}</a></li>
              {% endif %}
          </ul>
          <h2 class="heading-h2">{{text_my_newsletter}}</h2>
          <ul class="list-unstyled">
              <li><a href="{{newsletter}}" class="link">{{text_newsletter}}</a></li>
          </ul>
      </div>
{% endblock %}