{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
    <div class="address-page">
        <h1 class="heading-h1">{{ text_address_book }}</h1>
        {% if addresses %}
            <table class="table table-bordered table-hover desk">
                {% for address in addresses %}
                    <tr>
                        <td class="text-left">{{ address.address }}</td>
                        <td class="text-right"><a href="{{ address.update }}"
                                                  class="btn btn-like-warning btn-shrink">{{ button_edit }}</a>
                            &nbsp; <a href="{{ address.delete }}"
                                      class="btn btn-danger btn-shrink">{{ button_delete }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{{ text_empty }}</p>
        {% endif %}
        <div class="buttons clearfix">
            <div class="pull-left fl-no-sm"><a href="{{ back }}"
                                      class="btn btn-default btn-shrink btn-block-sm">{{ button_back }}</a></div>
            <div class="pull-right fl-no-sm"><a href="{{ add }}"
                                       class="btn btn-primary btn-shrink btn-block-sm">{{ button_new_address }}</a>
            </div>
        </div>
    </div>
{% endblock %}