{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <p>{{text_email}}</p>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_your_email}}</legend>
          <div class="form-group required">
            <label class="col-sm-2 field-label" for="input-email"><span>{{entry_email}}</span></label>
            <div class="col-sm-10">
              <input type="text" name="email" value="" placeholder="{{entry_email}}" id="input-email" class="field" />
            </div>
          </div>
        </fieldset>
        {% include 'd_visualize/template/partial/d_button_submit.twig' %}
      </form>
{% endblock %}