{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 field-label radio-label label-text-right">{{ entry_newsletter }}</label>
                <div class="col-sm-10">
                    <label class="radio-input">
                        <span class="radio-container">
                            <input type="radio" name="newsletter" value="1"
                                   {% if newsletter %}checked="checked"{% endif %} />
                                <div class="input-circle"></div>
                            </span>
                        {{ text_yes }}</label>
                    <label class="radio-input">
                    <span class="radio-container">
                        <input type="radio" name="newsletter" value="0"
                               {% if not newsletter %}checked="checked"{% endif %} />
                            <div class="input-circle"></div>
                        </span>
                        {{ text_no }}</label>
                </div>
            </div>
        </fieldset>
        {% include 'd_visualize/template/partial/d_button_submit.twig' %}
    </form>
{% endblock %}