{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
    <div class="order-page">
        <h1 class="heading-h1">{{ heading_title }}</h1>
        {% if orders %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td class="text-right">{{ column_order_id }}</td>
                        <td class="text-left">{{ column_status }}</td>
                        <td class="text-left">{{ column_date_added }}</td>
                        <td class="text-right">{{ column_product }}</td>
                        <td class="text-left">{{ column_customer }}</td>
                        <td class="text-right">{{ column_total }}</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="text-right">#{{ order.order_id }}</td>
                            <td class="text-left">{{ order.status }}</td>
                            <td class="text-left">{{ order.date_added }}</td>
                            <td class="text-right">{{ order.products }}</td>
                            <td class="text-left">{{ order.name }}</td>
                            <td class="text-right">{{ order.total }}</td>
                            <td class="text-right"><a href="{{ order.href }}" data-toggle="tooltip"
                                                      title="{{ button_view }}" class="btn btn-like-warning btn-shrink"><i
                                            class="fa fa-eye"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-right">{{ pagination }}</div>
        {% else %}
            <p>{{ text_empty }}</p>
        {% endif %}
    </div>
{% endblock %}