{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_password}}</legend>
          <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md" for="input-password"><span>{{entry_password}}</span></label>
            <div class="col-sm-10">
              <input type="password" name="password" value="{{password}}" id="input-password" class="field" />
              {% if error_password %}
              <div class="text-danger">{{error_password}}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md" for="input-confirm"><span>{{entry_confirm}}</span></label>
            <div class="col-sm-10">
              <input type="password" name="confirm" value="{{confirm}}" id="input-confirm" class="field" />
              {% if error_confirm %}
              <div class="text-danger">{{error_confirm}}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        {% include 'd_visualize/template/partial/d_button_submit.twig' %}
      </form>
{% endblock %}