{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      {% if recurrings %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">{{column_recurring_id}}</td>
              <td class="text-left">{{column_date_added}}</td>
              <td class="text-left">{{column_status}}</td>
              <td class="text-left">{{column_product}}</td>
              <td class="text-right">{{column_action}}</td>
            </tr>
          </thead>
          <tbody>
            {% for reccurring in recurrings %}
              <tr>
                <td class="text-left">#{{reccurring.id}}</td>
                <td class="text-left">{{reccurring.date_added}}</td>
                <td class="text-left">{{status_types.status}}</td>
                <td class="text-left">{{reccurring.name}}</td>
                <td class="text-right"><a href="{{reccurring.href}}" class="btn btn-info">{{button_view}}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="text-right">{{pagination}}</div>
      {% else %}
      <p>{{text_empty}}</p>
      {% endif %}
      {% include 'd_visualize/template/partial/d_button_continue.twig' %}
{% endblock %}
