{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h2 class="heading-h2">{{heading_title}}</h2>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td class="text-left" colspan="2">{{text_recurring_detail}}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left" style="width: 50%;">
            <p><b>{{text_recurring_id}}</b> #{{order_recurring_id}}</p>
            <p><b>{{text_date_added}}</b> {{date_added}}</p>
            <p><b>{{text_status}}</b> {{lookup status_types status}}</p>
            <p><b>{{text_payment_method}}</b> {{payment_method}}</p>
          </td>
          <td class="left" style="width: 50%; vertical-align: top;">
            <p><b>{{text_product}}</b><a href="{{product_link}}">{{product_name}}</a></p>
            <p><b>{{text_quantity}}</b> {{product_quantity}}</p>
            <p><b>{{text_order}}</b><a href="{{order_link}}">#{{order_id}}</a></p>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td class="text-left">{{text_recurring_description}}</td>
          <td class="text-left">{{text_ref}}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left" style="width: 50%;">
            <p style="margin:5px;">{{recurring_description}}</p></td>
          <td class="text-left" style="width: 50%;">
            <p style="margin:5px;">{{reference}}</p></td>
        </tr>
        </tbody>
      </table>
      <h2>{{text_transactions}}</h2>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td class="text-left">{{column_date_added}}</td>
          <td class="text-center">{{column_type}}</td>
          <td class="text-right">{{column_amount}}</td>
        </tr>
        </thead>
        <tbody>
        {% if transactions %}
          {% for transaction in transactions %}
            <tr>
              <td class="text-left">{{transaction.date_added}}</td>
              <td class="text-center">{{transaction_types.type}}</td>
              <td class="text-right">{{transaction.amount}}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3" class="text-center">{{text_empty_transactions}}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
      {{buttons}}
{% endblock %}
