{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block before_content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="heading-h1">{{ heading_title }}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="register-page">
        <p>{{ text_account_already }}</p>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset id="account">
                <legend>{{ text_your_details }}</legend>
                {% include 'd_visualize/template/partial/d_account_field.twig' with {form:'inline'} %}
                {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'account' %}
                        {% set custom_field = custom_field|merge({form:'inline'}) %}
                        {% include 'd_visualize/template/partial/d_custom_field.twig' with custom_field %}
                    {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset id="address">
                <legend>{{ text_your_address }}</legend>
                {% include 'd_visualize/template/partial/d_address_field.twig' with {form:'inline'} %}
                {% for custom_field in custom_fields %}
                    {% if custom_field.location == 'address' %}
                        {% set custom_field = custom_field|merge({form:'inline'}) %}
                        {% include 'd_visualize/template/partial/d_custom_field.twig' with custom_field %}
                    {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>{{ text_your_password }}</legend>
                <div class="form-group required">
                    <label class=" col-sm-2 field-label label-right-md"
                           for="input-password"><span>{{ entry_password }}</span></label>
                    <div class="col-sm-10">
                        <input type="password" name="password" value="{{ password }}"
                               id="input-password" class="field"/>
                        {% if error_password %}
                            <div class="text-danger">{{ error_password }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 field-label label-right-md"
                           for="input-confirm"><span>{{ entry_confirm }}</span></label>
                    <div class="col-sm-10">
                        <input type="password" name="confirm" value="{{ confirm }}"
                               id="input-confirm" class="field"/>
                        {% if error_confirm %}
                            <div class="text-danger">{{ error_confirm }}</div>
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{ text_newsletter }}</legend>
                <div class="form-group">
                    <div class="col-xs-5 col-sm-2 text-right">
                        <label class="field-label radio-label">{{ entry_newsletter }}</label>
                    </div>
                    <div class="col-xs-7 col-sm-10">
                        <label>
                            <input type="radio" name="newsletter" value="1"
                                   {% if newsletter %}checked="checked"{% endif %} />
                            {{ text_yes }}</label>
                        <label>
                            <input type="radio" name="newsletter" value="0"
                                   {% if not newsletter %}checked="checked"{% endif %} />
                            {{ text_no }}</label>
                    </div>
                </div>
            </fieldset>
            {{ captcha }}
            {% if text_agree %}
                <div class="buttons clearfix">
                    <div class="pull-right">
                        <label class="field-label checkbox-label">
                            {{ text_agree }}
                            <input type="checkbox" name="agree" value="1" {% if agree %}checked="checked"{% endif %} />
                        </label>
                        &nbsp;
                        <input type="submit" value="{{ button_continue }}" class="btn btn-primary btn-shrink"/>
                    </div>
                </div>
            {% else %}
                <div class="buttons clearfix">
                    <div class="pull-right">
                        <input type="submit" value="{{ button_continue }}" class="btn btn-primary btn-shrink"/>
                    </div>
                </div>
            {% endif %}
        </form>


        <script type="text/javascript"><!--
            $(function () {
                d_address_field.init({
                    zone_id: '{{ zone_id }}',
                    text_none: '{{ text_none }}',
                    text_select: '{{ text_select }}'
                });
                d_custom_field.init();
            })

            //--></script>
    </div>

{% endblock %}