{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    {% if returns %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td class="text-right">{{ column_return_id }}</td>
                <td class="text-left">{{ column_status }}</td>
                <td class="text-left">{{ column_date_added }}</td>
                <td class="text-right">{{ column_order_id }}</td>
                <td class="text-left">{{ column_customer }}</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for return in returns %}
                <tr>
                    <td class="text-right">#{{ return.return_id }}</td>
                    <td class="text-left">{{ return.status }}</td>
                    <td class="text-left">{{ return.date_added }}</td>
                    <td class="text-right">{{ return.order_id }}</td>
                    <td class="text-left">{{ return.name }}</td>
                    <td><a href="{{ return.href }}" data-toggle="tooltip" title="{{ button_view }}"
                           class="btn btn-info"><i class="fa fa-eye"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">{{ pagination }}</div>
    {% else %}
        <p>{{ text_empty }}</p>
    {% endif %}
    {% include 'd_visualize/template/partial/d_button_continue.twig' %}
{% endblock %}