{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <p>{{text_total}} <b>{{total}}</b>.</p>
      <div class="table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>{{column_date_added}}</td>
              <td>{{column_description}}</td>
              <td>{{column_amount}}</td>
            </tr>
          </thead>
          <tbody>
            {% if transactions %}
              {% for transaction in transactions %}
              <tr>
                <td>{{transaction.date_added}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.amount}}</td>
              </tr>
              {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="5">{{text_empty}}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{pagination}}</div>
        <div class="col-sm-6 text-right">{{results}}</div>
      </div>
      {% include 'd_visualize/template/partial/d_button_continue.twig' %}
{% endblock %}