{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_description }}</p>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md" for="input-to-name"><span>{{ entry_to_name }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="to_name" value="{{ to_name }}"
                       id="input-to-name" class="field"/>
                {% if error_to_name %}
                    <div class="text-danger">{{ error_to_name }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md"
                   for="input-to-email"><span>{{ entry_to_email }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="to_email" value="{{ to_email }}"
                       id="input-to-email" class="field"/>
                {% if error_to_email %}
                    <div class="text-danger">{{ error_to_email }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md"
                   for="input-from-name"><span>{{ entry_from_name }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="from_name" value="{{ from_name }}"
                       id="input-from-name" class="field"/>
                {% if error_from_name %}
                    <div class="text-danger">{{ error_from_name }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md"
                   for="input-from-email"><span>{{ entry_from_email }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="from_email" value="{{ from_email }}"
                       id="input-from-email" class="field"/>
                {% if error_from_email %}
                    <div class="text-danger">{{ error_from_email }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 field-label label-right-md"><span>{{ entry_theme }}</span></label>
            <div class="col-sm-10">
                {% for voucher_theme in voucher_themes %}
                    {% if voucher_theme.voucher_theme_id == voucher_theme_id %}
                        <label class="field-label radio-label">
                            <input type="radio" name="voucher_theme_id"
                                   value="{{ voucher_theme.voucher_theme_id }}"
                                   checked="checked"/>
                            {{ voucher_theme.name }}
                        </label>
                    {% else %}
                        <div class="radio">
                            <label class="field-label radio-label">
                                <input type="radio" name="voucher_theme_id"
                                       value="{{ voucher_theme.voucher_theme_id }}"/>
                                {{ voucher_theme.name }}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if error_theme %}
                    <div class="text-danger">{{ error_theme }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 field-label label-right-md" for="input-message"><span data-toggle="tooltip"
                                                                                      title="{{ help_message }}">{{ entry_message }}</span></label>
            <div class="col-sm-10">
                <textarea name="message" cols="40" rows="5" id="input-message"
                          class="field">{{ message }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 field-label label-right-md" for="input-amount"><span data-toggle="tooltip"
                                                                                     title="{{ help_amount }}">{{ entry_amount }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="amount" value="{{ amount }}" id="input-amount" class="field" size="5"/>
                {% if error_amount %}
                    <div class="text-danger">{{ error_amount }}</div>
                {% endif %}
            </div>
        </div>
        <div class="buttons clearfix">
            <div class="pull-right">
                <label class="checkbox-label">
                    {{ text_agree }}
                    <input type="checkbox" name="agree" value="1" {% if agree %}checked="checked"{% endif %} />                    &nbsp;
                </label>
                    <input type="submit" value="{{ button_continue }}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endblock %}