{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h1 class="heading-h2">{{heading_title}}</h1>
      {% if products %}
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-center">{{column_image}}</td>
            <td class="text-left">{{column_name}}</td>
            <td class="text-left">{{column_model}}</td>
            <td class="text-right">{{column_stock}}</td>
            <td class="text-right">{{column_price}}</td>
            <td class="text-right">{{column_action}}</td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td class="text-center">
              {% if product.thumb %}
                <a href="{{product.href}}"><img src="{{product.thumb}}" alt="{{product.name}}" title="{{product.name}}" /></a>
              {% endif %}
            </td>
            <td class="text-left"><a href="{{product.href}}">{{product.name}}</a></td>
            <td class="text-left">{{product.model}}</td>
            <td class="text-right">{{product.stock}}</td>
            <td class="text-right">
              {% if product.price %}
              <div class="price">
                {% if product.special %}
                  <b>{{product.special}}</b> <s>{{product.price}}</s>
                {% else %}
                  {{product.price}}
                {% endif %}
              </div>
              {% endif %}
            </td>
            <td class="text-right"><button type="button" onclick="cart.add('{{product.product_id}}');" data-toggle="tooltip" title="{{button_cart}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
              <a href="{{product.remove}}" data-toggle="tooltip" title="{{button_remove}}" class="btn btn-danger"><i class="fa fa-times"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{{text_empty}}</p>
      {% endif %}
      {% include 'd_visualize/template/partial/d_button_continue.twig' %}
{% endblock %}
