.product-section
  .product-images
    width: 100%
    margin-bottom: 7px
    &_additional
      +clearfix
      .thumbnail
        float: left
        max-width: 165px
        width: 100%
        height: 103px
    .thumbnail
      position: relative
      margin: 0 30px 30px 0
      overflow: hidden
      +border-radius
      border: 2px solid $colorMainDarken
      &:last-of-type
        margin-right: 0
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, .4) url($path + 'image/iconfinder-icon.svg') center / cover no-repeat
        background-size: 25%
        opacity: 0
        +transition
      img
        background: $p_waterloo
        +transition
      &:hover
        img
          transform: scale(1.1)
        &:after
          opacity: .9
      &-main
        border: none
        margin-bottom: 20px

  .product-price-block
    +flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px
    .price-label
      font-size: fz(20px)
      font-weight: $fontMedium

  .product-price
    font-weight: $fontBold

  .product-info
    background: $colorMainLighten
    +border-radius
    padding: rem(40px)
    margin-bottom: $indentBase
    .form-group
      margin-bottom: $marginVerticalBase

  .review-link
    font-size: 13px
    margin-bottom: 10px

  .product-content
    +clearfix

  .product_attributes
    width: 100%
    td
      width: 50%
      height: 30px
      vertical-align: top
    .product_attributes_name
      font-weight: $fontMedium
  .like-heading-h2
    font-family: $fontSecondary
  .btn-wrap
    margin-bottom: rem(30px)
    .btn
      margin-right: 15px
      &:last-of-type
        margin-right: 0