<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{direction}}" lang="{{lang}}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{direction}}" lang="{{lang}}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<html class="no-js" lang="">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5BPMRG2');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e6ecf7">
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    {% for meta in metas %}
        <meta {{ meta.property }}="{{ meta.meta }}" content="{{ meta.content }}"></meta>
    {% endfor %}

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}

    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="catalog/view/javascript/d_bootstrap_rating/bootstrap-rating.css">

    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
    {#<link rel="stylesheet" href="catalog/view/theme/d_visualize/stylesheet/d_visualize_core/d_visualize_core.css">#}
    {#<link rel="stylesheet" href="catalog/view/theme/d_visualize/stylesheet/d_visualize_skin/d_default/d_default_skin.css">#}
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>try {
            Modernizr
        } catch (e) {
            document.write('<script src="./assets/js/vendor/modernizr-2.8.3.min.js"><\/script>')
        }</script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/d_bootstrap_rating/bootstrap-rating.js"></script>
    <script src="catalog/view/javascript/common.js"></script>
    <script src="catalog/view/theme/d_visualize/javascript/d_visualize/d_visualize.js"></script>
    <!-- temp skin scripts -->
    <script src="catalog/view/theme/d_visualize/javascript/d_visualize_skin/d_default/d_default.js"></script>
    <!-- dynamic scripts -->
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
    <body class="{{ class }}" data-slideout-ignore>
    {{ mobile }}
    <div id="main">
        {{ d_visual_designer_header }}

