{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-12">{{{message}}}</div>
      </div>
    </div>
{% endblock %}